<div class="col-md-6 col-md-offset-3">
  <%= content_for :content_breadcrumb do %>
      <li class="active"><%= link_to "Clientes", clientes_path %></li>
      <li class="active"><%= link_to "Editar cliente", edit_cliente_path(@cliente) %></li>
  <% end %>
  <%= content_for :content_header do %>
      <h1>Editar Cliente</h1>
  <% end %>
  <%content_for :title do "Editar cliente" end%>
  <div class="row">
    <%= render 'form', cliente: @cliente %>
  </div>
</div>
