<% content_for :title do
  "Clientes"
end %>
<% content_for :content_breadcrumb do %>
    <li><%= link_to "Clientes", clientes_path %></li>
<% end %>
<div class="box box-primary with-border">
  <div class="box-header">
    <h3 class="box-title">Clientes</h3>
    <% if can? :create, Cliente %>
        <div class="box-tools pull-right">
          <%= link_to new_cliente_path, :title => "Nuevo" do %>
              <%= content_tag(:i, "", :class => "fa fa-plus fa-2x") %>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="box-body">
    <table class="table table-striped table-bordered" id="clientes">
      <thead>
      <% update = can? :update, Cliente %>
      <% destroy = can? :destroy, Cliente %>
      <tr>
        <% if update || destroy %>
            <th class="no-padding" colspan="<%= update && destroy ? "2" : "1" %>"> Opc.</th>
        <% end %>
        <th></th>
        <th title="Nit">NIT</th>
        <th title="Cliente">Cliente</th>
        <th title="Teléfono">Telefono</th>
        <th title="Contactos">Contacto</th>
        <th title="Extensión">Ext.</th>
        <th title="Correos">Correo</th>
        <th title="Dirección">Direccion</th>
        <th title="Plazo">Tiempo de pago</th>
      </tr>
      </thead>

      <tbody>
      <% @clientes.each do |cliente| %>
          <% telefonos =  cliente.telefonos %>
          <tr data-id="<%= cliente.id %>">
            <% if destroy %>
                <td class="text-center">
                  <%= link_to cliente, :class => 'text-red', remote: true, method: :delete, :title => "Eliminar",
                              data: {confirm: '¿Seguro desea eliminar el cliente?', action: 'delete'} do %>
                      <%= content_tag(:i, "", :class => "fa fa-trash-o") %>
                  <% end %>
                </td>
            <% end %>
            <% if update %>
                <td class="text-center">
                  <%= link_to edit_cliente_path(cliente), :title => "Editar" do %>
                      <%= content_tag(:i, "", :class => "fa fa-pencil") %>
                  <% end %>
                </td>
            <% end %>
            <td class="text-center">
              <%= link_to cliente, data: { action: "show" }, :class => 'text-aqua', remote: true do %>
                <i class="fa fa-eye"></i>
              <% end %>
            </td>
            <td title="Nit"><%= cliente._nit %></td>
            <td title="Cliente"><%= cliente.cliente %></td>
            <td title="Teléfono"><%= first_telefono telefonos %></td>
            <td title="Contacto"><%= first_contacto(telefonos)._contacto %></td>
            <td title="Teléfono"><%= first_ext_from_tel(telefonos.first)._extension %></td>
            <td title="Correo"><%= first_correo telefonos %></td>
            <td title="Dirección"><%= cliente._direccion %></td>
            <td title="Tiempo de pago"><%= cliente._tiempo_pago %> días</td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
