<% content_for :title do
  "Clientes"
end %>
<% content_for :content_breadcrumb do %>
    <li><%= link_to "Clientes",clientes_path %></li>
<% end %>
<div class="box box-primary with-border">
  <div class="box-header">
    <h3 class="box-title">Clientes</h3>
    <% if can? :create, Cliente %>
        <div class="box-tools pull-right">
          <%= link_to new_cliente_path, :title => "Nuevo" do %>
              <%= content_tag(:i, "", :class => "fa fa-plus fa-2x") %>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="box-body">
    <table class="table table-striped table-bordered" id="clientes">
      <thead>
      <% update = can? :update, Cliente %>
      <% destroy = can? :destroy, Cliente %>
      <tr>
        <% if update || destroy %>
            <th class="no-padding" colspan="<%= update && destroy ? "2" : "1" %>"> Opc.</th>
        <% end %>
        <th title="Cliente">Cliente</th>
        <th title="Teléfono">Telefono</th>
        <th title="Dirección">Direccion</th>
        <th title="Correo">Correo</th>
      </tr>
      </thead>

      <tbody>
      <% @clientes.each do |cliente| %>
          <tr>
            <% if update %>
                <td class="text-center">
                  <%= link_to edit_cliente_path(cliente), :title => "Editar" do %>
                      <%= content_tag(:i, "", :class => "fa fa-pencil") %>
                  <% end %>
                </td>
            <% end %>
            <% if destroy %>
                <td class="text-center">
                  <%= link_to cliente, :class => 'text-red', remote: true, method: :delete, :title => "Eliminar",
                              data: {confirm: '¿Seguro desea eliminar el cliente?', action: 'delete'} do %>
                      <%= content_tag(:i, "", :class => "fa fa-trash-o") %>
                  <% end %>
                </td>
            <% end %>
            <td title="Cliente"><%= cliente.cliente %></td>
            <td title="Teléfono"><%= cliente.telefono.empty? ? '-' : cliente.telefono %></td>
            <td title="Dirección"><%= cliente.direccion.empty? ? '-' : cliente.direccion %></td>
            <td title="Correo"><%= cliente.email.empty? ? '-' : cliente.email %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
