<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @cliente.cliente %>
</p>

<p>
  <strong>Telefono:</strong>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Atrás', clientes_path %>
