<%
=begin
 MENÚ DE OPCIONES
 Esto es un menú tipo dropodown. Visite https://goo.gl/sqfXgt este sitión para más información
 Este es el menú de opciones que se despliega en el index de los lotes y en la programación
 Cambie los item para y asigne permisos de modo individual
=end
%>

<div class="dropdown" style="max-width: 30px; margin: 0;">
  <i data-toggle="dropdown" class="fa fa-ellipsis-v btn" id="lote_<%= lote_id %>"></i>
  <ul class="dropdown-menu" aria-labelledby="lote_<%= lote_id %>">
    <li>
      <%= link_to lote_view_details_path(lote_id, :plc => controller_name), {:remote => true, "data-target" => "#myModal", :title => "Ver detalles"} do %>
          <i class="fa fa-eye fa-fw text-aqua hidden-xs" aria-hidden="true"></i>
          <span class="hidden-xs">Detalles</span>
          <h5 class="visible-xs">
            <i class="fa fa-eye fa-fw text-aqua" aria-hidden="true"></i>
            <span>Detalles</span>
          </h5>
      <% end %>
    </li>
    <% if can? :read, ControlLote %>
        <li>
          <% # plc: Hace referencia a place controller %>
          <%= link_to lote_control_lotes_path(lote_id, :plc => params[:controller]), {:title => "Ver ciclo de producción", :id => "lote_control_lote"} do %>
              <i class="fa fa-refresh fa-fw text-aqua hidden-xs" aria-hidden="true"></i>
              <span class="hidden-xs">Ciclo de producción</span>
              <h5 class="visible-xs">
                <i class="fa fa-refresh fa-fw text-aqua" aria-hidden="true"></i>
                <span>Ciclo de producción</span>
              </h5>
          <% end %>
        </li>
    <% end %>

    <% if can? :update, Lote %>
        <li class="divider"></li>
        <li>
          <% # plc: Hace referencia a place controller %>
          <%= link_to edit_lote_path(lote_id, :place => "form_edit_lote", :plc => controller_name), {:title => 'Editar'} do %>
              <i class="fa fa-pencil fa-fw text-green hidden-xs" aria-hidden="true"></i>
              <span class="hidden-xs">Editar</span>
              <h5 class="visible-xs">
                <i class="fa fa-pencil fa-fw text-green" aria-hidden="true"></i>
                <span>Editar</span>
              </h5>
          <% end %>
        </li>
    <% end %>
    <% if can? :cambio_estado, Lote %>
        <li>
          <%= link_to new_lote_control_lote_path(lote_id, :plc => controller_name), {:title => 'Proceso nuevo'} do %>
              <i class="fa fa-plus fa-fw text-green hidden-xs" aria-hidden="true"></i>
              <span class="hidden-xs">Proceso nuevo</span>
              <h5 class="visible-xs">
                <i class="fa fa-plus fa-fw text-green" aria-hidden="true"></i>
                <span>Proceso nuevo</span>
              </h5>
          <% end %>
        </li>
        <li>
          <% current = Estado.find estado_id %>
          <% next_estado = current.next %>
          <% if next_estado %>
              <%= link_to lote_cambio_estado_path(lote_id, :btn => next_estado.id, :plc => params[:controller], format: :json),
                          method: "PATCH", remote: true, :class => "change" do %>
                  <i class='fa fa-fast-forward fa-fw text-green hidden-xs' aria-hidden='true'></i>
                  <span class="hidden-xs"><%= next_estado.nombre_accion %></span>
                  <h5 class="visible-xs">
                    <i class="fa fa-fast-forward fa-fw text-green" aria-hidden="true"></i>
                    <span><%= next_estado.nombre_accion %></span>
                  </h5>
              <% end %>
          <% end %>
        </li>
    <% end %>

    <% if can? :destroy, Lote %>
        <li class="divider"></li>
        <li>
          <% data = {confirm: 'Si elimina este registro no podrá recuperarlo. ¿Está realmente seguro?',
                     action: 'delete'} %>
          <%= link_to lote_path(lote_id), :class => "delete", :method => :delete, data: data, :title => "Eliminar", :remote => true do %>
              <i class='fa fa-trash-o text-red hidden-xs' aria-hidden='true'></i>
              <span class="hidden-xs">Eliminar</span>
              <h5 class="visible-xs">
                <i class="fa fa-trash-o text-red" aria-hidden="true"></i>
                <span>Eliminar</span>
              </h5>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>