<div class="dropdown" style="max-width: 30px; margin: 0;">
  <i data-toggle="dropdown" class="fa fa-ellipsis-v btn" id="lote_<%= lote_id %>"></i>
  <ul class="dropdown-menu" aria-labelledby="lote_<%= lote_id %>">
    <li>
      <%= link_to lote_view_details_path(lote_id), {:remote => true, "data-target" => "#myModal", :title => "Ver detalles"} do %>
          <i class="fa fa-eye fa-fw text-aqua" aria-hidden="true"></i>
          Detalles
      <% end %>
    </li>
    <% if can? :read, ControlLote %>
        <li>
          <% # plc: Hace referencia a place controller %>
          <%= link_to lote_control_lotes_path(lote_id, :plc => params[:controller]), {:title => "Ver ciclo de producción", :id => "lote_control_lote"} do %>
              <i class="fa fa-refresh fa-fw text-aqua" aria-hidden="true"></i>
              Ciclo de producción
          <% end %>
        </li>
    <% end %>

    <% if can? :update, Lote %>
        <li class="divider"></li>
        <li>
          <% # plc: Hace referencia a place controller %>
          <%= link_to edit_lote_path(lote_id, :place => "form_edit_lote", :plc => controller_name), {:title => 'Editar'} do %>
              <i class="fa fa-pencil fa-fw text-green" aria-hidden="true"></i>
              Editar
          <% end %>
        </li>
    <% end %>
    <% if can? :cambio_estado, Lote %>
        <li>
          <%= link_to new_lote_control_lote_path(lote_id, :plc => controller_name), {:title => 'Proceso nuevo'} do %>
              <i class="fa fa-plus fa-fw text-green" aria-hidden="true"></i>
              Proceso nuevo
          <% end %>
        </li>
        <li>
          <% change = next_state estado_id %>
          <% if change[:boolean] %>
              <%= link_to lote_cambio_estado_path(lote_id, :btn => change[:state]), method: "PATCH", remote: true, :class => "change" do %>
                  <i class='fa fa-fast-forward fa-fw text-green' aria-hidden='true'></i>
                  <%= change[:view] %>
              <% end %>
          <% end %>
        </li>
    <% end %>
    <% # Puede editar %>

    <% if can? :destroy, Lote %>
        <li class="divider"></li>
        <li>
          <% data = {confirm: 'Si elimina este registro no podrá recuperarlo. ¿Está realmente seguro?',
                     action: 'delete'} %>
          <%= link_to lote_path(lote_id), data: data,:method => :delete, :class => "delete", :title => "Eliminar",
                      :remote => true do %>
              <i class='fa fa-trash-o text-red' aria-hidden='true'></i>
              Eliminar
          <% end %>
        </li>
    <% end %>
    <% # Puede eliminar %>
  </ul>
</div>