<div style="margin-top: 20px;"></div>
<div class="row">
  <div class="col-lg-12">
    <div class="col-md-3">
      <%= f.input :no_remision, label: "Número de remisión" %>
    </div>
    <div class="col-md-3">
      <%= f.input :no_factura, label: "Número de factura" %>
    </div>
    <div class="col-md-3">
      <%= f.input :precio_u, label: "Precio unitario" %>
    </div>
    <div class="col-md-3">
      <%= f.input :precio_t, label: "Precio total", readonly: true %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="col-md-3">
      <%= f.input :meta%>
    </div>
    <div class="col-md-3">
      <%= f.input :h_req, label: "Horas requeridas", readonly: true %>
    </div>
  </div>
</div>