<%
  place = nil
  if params[:action]=="edit"
    place = "form_edit_lote_response"
  else
    place = "form_new_lote_response"
  end
%>
<% action = params[:action] %>
<% url = action=="edit" || action=="update" ? lote_path(:place => place) : lotes_path(:place => place) %>

<%= simple_form_for(@lote, :url => url) do |f| %>
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">
          <p>
            <% if !@lote.cliente.nil? %>
                <%= @lote.cliente.cliente %> -
            <% end %>
            <% if !@lote.referencia.nil? %>
                <%= @lote.referencia.referencia %>
            <% end %>
          </p>
        </h3>
        <div class="box-tools pull-right">
          <%= f.button :submit, :value => 'Aceptar', data: {:disable_with => "Guardando"}, class: 'btn btn-primary btn-sm', :id => "lote_guardar" %>
          <%= link_to 'Cancelar', "/#{params[:plc] || params[:lote][:plc]}", class: 'btn btn-default btn-sm' %>
        </div>
      </div>
      <div class="box-body">
        <%= f.error_notification %>
        <ul class="nav nav-tabs">
          <% if can? :integracion, Lote %>
              <li class="active"><a data-toggle="tab" href="#integracion">Integración</a></li>
          <% end %>

          <% if can? :insumos, Lote %>
              <li class=<%= (current_user.has_rol? :aux_insumos) ? "active" : "" %>>
                <a data-toggle="tab" href="#insumos">Insumos</a></li>
          <% end %>

          <% if can? :billing, Lote %>
              <li class=<%= (current_user.has_rol? :aux_facturacion) ? "active" : "" %>>
                <a data-toggle="tab" href="#facturacion">Facturación</a></li>
          <% end %>
        </ul>
        <div class="tab-content">

          <% if can? :integracion, Lote %>
              <div id="integracion" class="tab-pane fade in active">
                <% # Integración %>
                <%= render "form_zone_integracion", f: f %>
              </div>
          <% end %>

          <% if can? :insumos, Lote %>
              <div id="insumos" class="tab-pane fade <%= (current_user.has_rol? :aux_insumos) ? "in active" : "" %>">
                <% # Insumos %>
                <%= render "form_zone_insumos", f: f %>
              </div>
          <% end %>

          <% if can? :billing, Lote %>
              <div id="facturacion" class="tab-pane fade <%= (current_user.has_rol? :aux_facturacion) ? "in active" : "" %>">
                <% # Facturacion %>
                <%= render "form_zone_facturacion", f: f %>
              </div>
          <% end %>
        </div>
      </div>
      <% if params[:action].eql?("edit") || params[:action].eql?("update") %>
        <div class="box-footer">
          <div class="pull-right">
            <%= f.button :submit, :value => 'Aceptar', data: {:disable_with => "Guardando"}, class: 'btn btn-primary btn-sm', :id => "lote_guardar" %>
            <%= link_to 'Cancelar', "/#{params[:plc] || params[:lote][:plc]}", class: 'btn btn-default btn-sm' %>
          </div>
        </div>
      <% end %>
    </div>

    <% if can?(:cambio_estado, Lote) && (params[:action].eql?("new") || params[:action].eql?("create")) %>
        <div class="box box-warning">
          <div class="box-header">
            <h3 class="box-title">Datos del proceso</h3>
          </div>
          <div class="box-body">
            <%= f.fields_for :control_lotes, @control_lotes do |c| %>
                <%= render partial: 'control_lotes/form_fields', locals: {c: c, col: 4} %>
            <% end %>
          </div>
          <div class="box-footer">
            <div class="pull-right">
              <%= f.button :submit, :value => 'Aceptar', data: {:disable_with => "Guardando"}, class: 'btn btn-primary btn-sm', :id => "lote_guardar" %>
              <%= link_to 'Cancelar', "/#{params[:plc] || params[:lote][:plc]}", class: 'btn btn-default btn-sm' %>
            </div>
          </div>
        </div>
    <% end %>
    <!--____Fin detalle de estado_____________________________-->

    <%= f.hidden_field :plc, value: params[:plc] || params[:lote][:plc] %>
<% end %>
<% # Fin simple form %>

