
<div class="row">
  <div class=" col-md-12">
    <%
    place = nil
    if params[:action]=="edit"
      place = "form_edit_lote_response"
    else
      place = "form_new_lote_response"
    end
    %>
    <%action = params[:action]%>
    <%= simple_form_for(@lote, 
      :url => action=="edit" || action=="update" ? lote_path(:place => place) : lotes_path(:place => place), 
      wrapper: :vertical_input_group) do |f|
    %>
    
        <%= f.error_notification %>
        <%=@lote.errors.full_messages%>
<!--inicio form-inputs-->
      <div class="form-inputs">
<!--#########################################################################-->
<!--_______________________Form para otros roles_____________________________-->
<!--#########################################################################-->
        <% if @rol_form == "coor_integracion" || @rol_form == "coor_tiempos" || 
        @rol_form == "admin"%>
          <div class="row">
              <div class="panel">
                <div class="panel-heading panel-primary">
                  <h3>Integración de lote</h3>
                </div>
              </div>
          </div>
      <!--Otros roles Primera fila-->
          <div class="row">
            <div class="col-sm-9">
              <div class="col-sm-4">
                  <%= f.input :op, input_html: { style: 'text-transform:uppercase;',
                    autocomplete: 'off', autofocus: true} %>
              </div>
              <div class="col-sm-4">
                  <%if !params[:action].eql?('edit') && !params[:action].eql?('update') %>
                      <%= f.input :referencia, input_html: { style: 'text-transform:uppercase;',
                    autocomplete: 'off', value: @lote.referencia.nil? ? "" : @lote.referencia.referencia}%>
                  <%else %>
                    <%= f.input :referencia, :readonly => true, 
                    input_html: { style: 'text-transform:uppercase;', 
                     autocomplete: 'off', value: "#{@lote.referencia.referencia}"}%>
                  <% end %>
              </div>
              <div class="col-sm-4">
                  <%  if params[:action] != 'edit' %>
                  <div class="input-group">
                    <%= f.input :cliente do %>
                      <%= f.input_field  :cliente_id, class: "form-control", 
                      :collection => @clientes,
                      :value_method => :id, :include_blank => "-- seleccione cliente --"%>
                      <div class="input-group-btn">
                        <%= link_to '...', add_remote_data_path(:place => "form_lote_cliente"),{:remote => true, 
                          'data-toggle' =>  "modal", 'data-target' => '#myModal', 
                          :class => "btn btn-primary", :title => "Nuevo cliente"} %>
                      </div>
                    <% end %>
                  </div>
                  <div id="error_div_cliente" class="text-danger"></div>
                  <%  else %>
                    <%= f.association :cliente, :disabled => :disabled %>
                  <%  end %>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <%= f.input :tipo_prenda_id,  label: "Descripción" do %>
                    <%= f.input_field  :tipo_prenda_id, class: "form-control",
                    :collection => @tipos_prendas,
                    :value_method => :id, :include_blank => "-- seleccione descripción --" %>
                    <div class="input-group-btn">
                      <%= link_to '...', add_remote_data_path(:place => "form_lote_tipo_prenda"),{:remote => true, 
                      'data-toggle' =>  "modal", 'data-target' => '#myModal', 
                      :class => "btn btn-primary", :title => "Nueva descripción"} %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="col-sm-4">
                <div>
                  <%=f.input :empresa, collection: [['CAB', 'CAB'],[ 'D&C','D&C']]%>
                </div>
              </div>
              <div class="col-sm-4" style="padding-top:15px">
                <%=f.label :fin_integracion_true, label: "¿Ingreso completado?"%><br>
                <%= f.collection_radio_buttons :fin_integracion, [[true, 'Sí'], [false, 'No']], 
                :first, :last, {item_wrapper_class: 'radio-inline', 
                item_wrapper_tag: :div, checked: true} %>
              </div>
            </div>
            <div class="col-sm-3">
                <%= f.input :obs_integracion, input_html:{:style => "height: 110px"},
                :label => 'Notas de integración'%>
            </div>
          </div>
      <!--Otros roles Fin primera fila-->
      <!--Otros roles Segunda fila-->
          <hr>
          
      <!--#########################################################################-->
      <!--_________________________Detalle de cantidades___________________________-->
      <!--#########################################################################--> 
              <div class="row">
                <div class="col-md-12">
                    <h4>Cantidades por talla</h4>
                    <span class="text-danger">
                    <%if !@lote.errors[:colores_lotes].empty?%>
                      Por favor ingrese el color y al menos una cantidad
                    <%end%>
                    </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
              <!--Inicio de tabla-->
                    <table class="table table-hover" id="table_form_lote">
                      <!--Body de tabla-->
                      <tbody>
                        <% # Vairables. row: tamaño de rowspan en edición %>
                        <% # bool: pintar solo un th de color%>
                        <%bool = true%>
                        <%row = @colores.nil? ? 1 : @colores.length%>
                        <%i = 0%>
                        <%=f.fields_for :colores_lotes do |color_lote|%>
                        <%puts i%>
                          <tr>
                            <% if bool%>
                              <th scope="rowgroup" rowspan="<%=row%>" style="padding:0; margin:0;" 
                                id="row_sp_color">
                                Colores
                              </th>
                              <%bool = false%>
                            <%end%>
                            <%=render partial: 'color_lote_fields', locals: {
                              col: @colores.nil? ? "" : @colores.fetch(i), 
                              total: @totales.nil? ? "" : @totales.fetch(i),
                              f: color_lote, b: false }%>
                          </tr>
                          <% i += 1 %>
                        <%end%>
                      </tbody>
                      <%
                        # El objetivo de poner el thead debajo del tbody es 
                        # que no exista interferencia con el fields_for que hay en el 
                        # tbody
                      %>
                      <!--Head de tabla-->
                      <thead>
                        <tr class="small" title="Talla tipo A">
                          <th scope="col" rowspan="3" class="text-center">Cantidad Corte</th>
                          <th scope="col" rowspan="3">Tallas</th>
                          <% # Variable. cont: controlador para filas de tallas%>
                          <%cont = 0%>
                          <%@tallas.each do |talla|%>
                            <% if cont == 0%>
                              <th scope="col" class="col-lg-1"><%=talla.talla%></th>
                            <%end%>
                            <%cont == 2 ? cont = 0 : cont = cont + 1%>
                          <%end%>
                          <th scope="col" rowspan="2" class="text-center">
                            <%
                              # Nuevos campos para colores y cantidades
                              @colores_lotes = @lote.colores_lotes.build
                              @cantidades = @colores_lotes.cantidades.build
                            %>
                              <%= link_to_add_fields "","add_fields btn btn-primary  
                                fa fa-plus", f, :colores_lotes %>
                          </th>
                        </tr>
                        <tr class="small" title="Talla tipo B">
                          <%cont = 0%>
                          <%@tallas.each do |talla|%>
                            <% if cont == 1%>
                              <th scope="col" class="col-lg-1"><%=talla.talla%></th>
                            <%end%>
                            <%cont == 2 ? cont = 0 : cont = cont + 1%>
                          <%end%>
                        </tr>
                        <tr class="small" title="Talla tipo C">
                          <%cont = 0%>
                          <%@tallas.each do |talla|%>
                            <% if cont == 2%>
                              <th scope="col" class="col-lg-1"><%=talla.talla%></th>
                            <%end%>
                            <%cont == 2 ? cont = 0 : cont = cont + 1%>
                          <%end%>
                          <th scope="col">
                            Total colores
                          </th>
                        </tr>
                      </thead>
                      <!--Foot de tabla-->
                      <tfoot>
                        <tr>
                          <th scope="row" style="padding:0; margin:0;" title="Total">Total</th>
                          <%for n in 0..9%>
                            <td style="padding:0; margin:0;">
                              <%if n > 0%>
                                <input id="total<%=n%>" class="form-control input-sm" 
                                  type="number" disabled="disabled" title="Total de&#10; talla <%=n + (n + 4)%>"
                                  value="<%= !@totales_tallas.nil? ? @totales_tallas.fetch(n - 1) : 0%>"/>
                              <%end%>
                            </td>
                          <%end%>
                          <td class="total" style="padding:0; margin:0;">
                            <%=f.input :cantidad, readonly: true, label: false,
                              input_html:{class: "input-sm", title: "Total absoluto"}%>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
              <!--fin de tabla-->
                  </div>
                </div>
              </div>
      <!--______________________Fin detalle de cantidades__________________________-->
      <!--Otros roles Fin segunda fila-->
        <%end%>
<!--_________________________Otros roles fin form____________________________-->

<!--#########################################################################-->
<!--____________Form para insumos(tiempos, admin tienen acceso_______________-->
<!--#########################################################################-->      
       
<!--Form para insumos(tiempos, admin tienen acceso)-->
        <% if @rol_form == "aux_insumos" || @rol_form == "coor_tiempos" ||
        @rol_form == "admin"%>
          <!--Panel introducción a insumos-->
          <div class="panel">
            <div class="panel-heading panel-primary">
              <div class="row">
                <div class="col-lg-6">
                  <h3>Insumos del lote</h3>
                </div>
                <div class="col-lg-6">
                    <div class="col-lg-3">
                      <%if !@lote.cliente.nil?%>
                        <h3>Cliente</h3>
                        <p>
                          <%=@lote.cliente.cliente%>
                        </p>
                      <%end%>
                    </div>
                    <div class="col-lg-3">
                      <%if !@lote.referencia.nil?%>
                        <h3>Referencia</h3>
                        <p>
                          <%= @lote.referencia.referencia%>
                        </p>
                      <%end%>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
          <!--Fin panel introducción a insumos-->
          <%if @rol_form == "aux_insumos" && params[:action]=="edit"%>
            <%= f.hidden_field :referencia, :value => "#{@lote.referencia.referencia}"%>
          <%end%>
          <!--Fila insumos-->
          <div class="row">
            <div class="col-lg-12">
              <div class="col-md-4">
                <div>
                    <%= f.input :fecha_entrada, as: "string", 
                    input_html: {:value => @lote.fecha_entrada.nil? ? I18n::localize(Time.zone.utc_to_local(Time.new) + 60, :format => "%Y-%m-%d") : @lote.fecha_entrada},
                    readonly: true, label: 'Entró a insumos el:'  %>
                </div>
                <div>
                  <%= f.input :fecha_entrega, 
                  as: "string", input_html: { class: "datepicker", :autocomplete => "off" } %>
                </div>
              </div>
              <div class="col-md-4">
                <div>
                  <%= f.input :fecha_revision, as: "string", input_html: { class: "datepicker", 
                  :autocomplete => "off"  }%>
                </div>
                <div style="padding-top:15px">
                  <%= f.label :fin_insumos_true, label: "¿Insumos listos?"%> <br>
                  <%= f.collection_radio_buttons :fin_insumos, [[true, 'Sí'], [false, 'No']], :first, :last, label: false,
                      item_wrapper_class: 'radio-inline', item_wrapper_tag: :label, checked: true %>
                </div>
              </div>
              <div class="col-md-4">
                <%= f.input :obs_insumos, label: 'Notas de los insumos', input_html:{:style => "height: 110px"} %>
              </div>
            </div>
          </div>
          <!--Fin fila insumos-->
        <%end%>
<!--______________________Fin zona form para insumos_________________________-->    

        <% if @rol_form == "coor_tiempos" || @rol_form == "admin"%>
          <div class="row">
            <div class="col-lg-12">
              <div class="col-md-3">
                <%= f.input :no_remision, label: "Número de remisión" %>
              </div>
              <div class="col-md-3">
                <%= f.input :no_factura, label: "Número de factura" %>
              </div>
              <div class="col-md-3">
                <%= f.input :precio_u, label: "Precio unitario" %>
              </div>
              <div class="col-md-3">
                <%= f.input :precio_t, label: "Precio total", readonly: true %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="col-md-3">
                <%= f.input :meta%>
              </div>
              <div class="col-md-3">
                <%= f.input :h_req, label: "Horas requeridas", readonly: true %>
              </div>
            </div>
          </div>
        <%end%>
<!--#########################################################################-->
<!--_________________________Detalle de estado_______________________________-->
<!--#########################################################################-->

        <div class="row" id="form_lote_estado_update">
          <div class="col-lg-12">
            <div class="panel">
              <div class="panel-heading panel-default">
                <h4>Datos del proceso</h4>
              </div>
            </div>
          </div>
        
          <div class="col-lg-12">
            <%=render 'estados/form_for_lote', f: f %>
          </div>
        </div>
<!--_______________________Fin detalle de estado_____________________________-->


<!--#########################################################################-->
<!--_____________________________Form submit_________________________________-->
<!--#########################################################################-->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel">
              <div class="panel-heading panel-default">
              </div>
            </div>
            <div class="form-actions text-right">
              <%= f.button :submit, :value => 'Aceptar',
              data:{:disable_with => "Guardando"}, class: 'btn-default',
              :id =>"lote_guardar" %>
              <%= link_to 'Cancelar', lotes_path, class: 'btn btn-outline btn-primary' %>
            </div>
            <div class="panel">
              <div class="panel-heading panel-primary">
              </div>
              <p class="text-right"><i class="text-danger">*</i>&nbsp;&nbsp;Campos obligatorios</p>
              <div class="panel-footer">
              </div>
            </div>
          </div>
        </div>
<!--____________________________fin form-submit______________________________-->
      </div>
  <!--fin form-inputs-->
    <% end %>
    
    <% # Fin simple form %>
    
  </div>
</div>
 <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  </div>
  