<!--Panel introducción a insumos-->
<div class="panel">
  <div class="panel-heading panel-primary">
    <div class="row">
      <div class="col-lg-6">
        <h3>Insumos del lote</h3>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-3">
          <%if !@lote.cliente.nil?%>
          <h3>Cliente</h3>
          <p>
            <%=@lote.cliente.cliente%>
          </p>
          <%end%>
        </div>
        <div class="col-lg-3">
          <%if !@lote.referencia.nil?%>
          <h3>Referencia</h3>
          <p>
            <%= @lote.referencia.referencia%>
          </p>
          <%end%>
        </div>

      </div>
    </div>
  </div>
</div>
<!--Fin panel introducción a insumos-->
<%if @rol_form == "aux_insumos" && params[:action]=="edit"%>
<%= f.hidden_field :referencia, :value => "#{@lote.referencia.referencia}"%>
<%end%>
<!--Fila insumos-->
<div class="row">
  <div class="col-lg-12">
    <div class="col-md-4">
      <div>
        <%= f.input :fecha_entrada, as: "string", input_html: {:value => @lote.fecha_entrada.nil? ? I18n::localize(Time.zone.utc_to_local(Time.new) + 60, :format => "%Y-%m-%d") : @lote.fecha_entrada}, readonly: true, label: 'Entró a insumos el:'  %>
      </div>
      <div>
        <%= f.input :fecha_entrega, as: "string", input_html: { class: "datepicker", :autocomplete => "off" } %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <%= f.input :fecha_revision, as: "string", input_html: { class: "datepicker", :autocomplete => "off"  }%>
      </div>
      <div style="padding-top:15px">
        <%= f.label :fin_insumos_true, label: "¿Insumos listos?"%> <br>
        <%= f.collection_radio_buttons :fin_insumos, [[true, 'Sí'], [false, 'No']], :first, :last, label: false, item_wrapper_class: 'radio-inline', item_wrapper_tag: :label, checked: true %>
      </div>
    </div>
    <div class="col-md-4">
      <%= f.input :obs_insumos, label: 'Notas de los insumos', input_html:{:style => "height: 110px"} %>
    </div>
  </div>
</div>