<% # Final de bloques marcado debajo de cada cierre %>

<tbody>
<%@lotes.each do |lote|%>
  <tr>
    <td><%= lote.fetch 0 %></td><!--id lote-->
    <td style="padding: 0px;">
      <div class="dropdown btn">
        <i data-toggle="dropdown" class="fa fa-ellipsis-v" id="lote_<%=lote.fetch(0)%>"></i>
        <ul class="dropdown-menu" aria-labelledby="lote_<%=lote.fetch(0)%>">
          <li>
            <%= link_to  lote_view_details_path(lote.fetch(0)), {:remote => true, "data-target" => "#myModal", :title => "Ver detalles"} do%>
            <%= content_tag :i, "", :class => "fa fa-eye fa-fw" %>
            Detalles
            <% end %>
          </li>
          <% if can? :read, ControlLote %>
          <li>
            <%= link_to lote_control_lotes_path(lote.fetch(0)), {:remote => true, :title => "Ver ciclo de producción", :id => "lote_control_lote"} do%>
            <%=content_tag :i, "", :class => "fa fa-refresh fa-fw"%>
            Ciclo de producción
            <%end%>
          </li>
          <% end %>
          
          <% if can? :update, Lote %>
          <li class="divider"></li>
          <li>
            <%= link_to edit_lote_path(lote.fetch(0), :place => "form_edit_lote"), { :title => 'Editar'}  do%>
            <%=content_tag :i, "", :class => "fa fa-pencil fa-fw"%> 
            Editar 
            <%end%>
          </li>
          <%if can? :cambio_estado, Lote%>
          <li>
<<<<<<< HEAD
            <%=next_state lote_cambio_estado_path(lote.fetch(0)), lote.fetch(6), {:method => 'PATCH'}, {:class => "fa fa-forward fa-fw"}%>
=======
            <%= link_to new_lote_control_lote_path(lote.fetch(0)), { :title => 'Proceso nuevo'}  do%>
            <%=content_tag :i, "", :class => "fa fa-plus fa-fw"%> 
            Proceso nuevo 
            <%end%>
          </li>
          <li>
            <%=next_state cambio_estado_path(lote.fetch(0)), lote.fetch(6), {}, {:class => "fa fa-fast-forward fa-fw"}%>
>>>>>>> control_lote_nuevos
          </li>
          <%end%>
          <%end%>
          <% # Puede editar %>

          <% if can? :destroy, Lote %>
          <li class="divider"></li>
          <li>
            <%= link_to lote_path(lote.fetch(0)), :class => "delete", :method => :delete, data: { :confirm => 'Si elimina este registro no podrá recuperarlo. ¿Está realmente seguro?' }, :title => "Eliminar", :remote => true do %>
            <%=content_tag :i, "", :class => "fa fa-trash-o"%>
            Eliminar
            <%end%>
          </li>
          <%end%>
          <% # Puede eliminar %>
        </ul>
      </div>
    </td><!--Admnistración-->
    <td><%= lote.fetch 1 %></td><!--Cliente-->
    <td><%= lote.fetch 2 %></td><!--Referencia-->
    <td><%= lote.fetch 3 %></td><!--Op-->
    <td data-cantidad="<%= lote.fetch 4 %>"><%= lote.fetch 4 %></td><!--Cantidad-->
    <td><%= @tipos_prendas[lote.fetch(5)]%></td><!--Descripción-->
<<<<<<< HEAD
    <%if can? :prices, Lote%>
    <td style="padding: 1px;">
    <%=content_tag :input, "", data:{:lote => lote.fetch(0)}, :value => Money.new("#{lote.fetch 8}00").format, :class => "form-control input-sm lote_precio_unitario", :disabled => (can? :prices_update, Lote)? false : true%>
=======
    <%if can? :total_price, Lote%>
    <td style="padding: 0px;">
    <%=content_tag :input, "", data:{:lote => lote.fetch(0)}, :value => Money.new("#{lote.fetch 8}00").format, :class => "form-control input-sm lote_precio_unitario", :disabled => (can? :update, Lote)? false : true%>
>>>>>>> control_lote_nuevos
    </td><!--Precio unitario-->
    <td class="total"><%= Money.new("#{lote.fetch 9}00").format %></td><!--Precio total-->
    <%end%>
  </tr>
  <!--tr-->
<%end%>
<% # Fin del ciclo @lotes %>
</tbody>
<!--tbody-->
