<%= simple_form_for(@lote) do |f| %>
        <% # Recarga de formulario para los tipos de prendas %>
        <%if params[:place] == "form_lote_response"%>
          <%= f.input :tipo_prenda_id,  label: "Descripción", wrapper: :vertical_input_group do %>
            <%= f.input_field  :tipo_prenda_id, class: "form-control",
            :collection => @tipos_prendas, :selected => @tipo_prenda.id ,
            :value_method => :id, :label => false, :include_blank => "-- seleccione descripción --" %>
            <div class="input-group-btn">
              <%= link_to '...', add_remote_data_path(:place => "form_lote_tipo_prenda"),{:remote => true, 
              'data-toggle' =>  "modal", 'data-target' => '#myModal', :class => "btn btn-default"} %>
            </div>
          <% end %>
        <%end%>
        
        <% # Recarga de formulario para los clientes%>
        <%if params[:place] == "form_lote_cliente_response"%>
          <%= f.input :cliente,  wrapper: :vertical_input_group do %>
            <%= f.input_field  :cliente_id, class: "form-control", 
            :collection => @clientes, :label_method => false, 
            :value_method => :id, :selected => @cliente.id %>
            <div class="input-group-btn">
              <%= link_to '...', add_remote_data_path(:place => "form_lote_cliente"),{:remote => true, 
              'data-toggle' =>  "modal", 'data-target' => '#myModal', :class => "btn btn-default"} %>
            </div>
          <% end %>
        <% end %>
        
        <%if params[:place] == "form_lote_sub_estado_response"%>
           <%= f.fields_for :control_lotes, @lote.control_lotes.build do |c| %>
              <%= c.input_field  :sub_estado_id, class: "form-control",
                :collection => @sub_estados, :value_method => :id, 
                :selected => @sub_estado.id%>
              <div class="input-group-btn">
                <%= link_to '...', add_remote_data_path(:place => "form_lote_sub_estado"),
                {:remote => true, :class => "btn btn-default"} %>
              </div>
          <%end%>
        <%end%>
        
<% end %>