<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">
        REFERENCIA: <%= @lote.lote.referencia.referencia %>
      </h4>
      <% programacion = @lote.lote.programacion %>
      <small>Programado: <%= programacion ? l(programacion.mes, format: "%B de %Y") : "No tiene" %></small>
    </div>
    <div class="modal-body">

      <!--Detalla de cantidades-->
      <div class="table-responsive">
        <table class="table table-bordered">
          <caption>Detalle de cantidades</caption>
          <thead>
          <tr class="">
            <th rowspan="3" class="text-center">Cantidad Corte</th>
            <th rowspan="3">Tallas</th>
            <% cont = 0 %>
            <% @tallas.each do |talla| %>
                <% if cont == 0 %>
                    <th class="col-lg-1 small"><%= talla.talla %></th>
                <% end %>
                <% cont == 2 ? cont = 0 : cont = cont + 1 %>
            <% end %>
            <th rowspan="3">
              Total colores
            </th>
          </tr>
          <tr class="small">
            <% cont = 0 %>
            <% @tallas.each do |talla| %>
                <% if cont == 1 %>
                    <th class="col-lg-1"><%= talla.talla %></th>
                <% end %>
                <% cont == 2 ? cont = 0 : cont = cont + 1 %>
            <% end %>
          </tr>
          <tr class="small">
            <% cont = 0 %>
            <% @tallas.each do |talla| %>
                <% if cont == 2 %>
                    <th class="col-lg-1"><%= talla.talla %></th>
                <% end %>
                <% cont == 2 ? cont = 0 : cont = cont + 1 %>
            <% end %>

          </tr>
          </thead>
          <tbody>
          <% totales = Array.new %>
          <% @lote.lote.colores_lotes.each do |color| %>
              <tr>
                <th rowspan="1">Colores</th>
                <td><%= color.color.nil? ? "COLOR" : color.color.color %></td>
                <% color.cantidades.each do |cantidad| %>
                    <td>
                      <%= cantidad.cantidad %>
                      <% totales.push cantidad.total.total %>
                    </td>
                <% end %>
                <td><%= color.total.total %></td>
              </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr class="active">
            <th colspan="2">Totales tallas</th>
            <% if totales.empty? %>
                <% (0..9).each do |i| %>
                    <td></td>
                <% end %>
            <% else %>
                <% (0..8).each do |i| %>
                    <td><%= totales.fetch i %></td>
                <% end %>
            <% end %>
            <th><%= @lote.lote.cantidad %></th>
          </tr>
          </tfoot>
        </table>
      </div>

      <!--Cliente, y lote-->
      <div class="row">
        <p class="col-md-3  text-left">
          <strong>OP:</strong>
          <%= @lote.lote.op %>
        </p>
        <p class="col-md-4 text-left">
          <strong>Cliente:</strong>
          <%= @lote.lote.cliente.cliente %>
        </p>
        <p class="col-md-2 text-left">
          <strong>Empresa:</strong>
          <%= @lote.lote.empresa %>
        </p>
        <p class="col-md-3 text-left">
          <strong>Descripción:</strong>
          <%= @lote.lote.tipo_prenda.nil? ? "-" : "#{@lote.lote.tipo_prenda.tipo}" %>
        </p>
      </div>
      <hr>
      <!--Facturación-->
      <div class="row">
        <p class="col-md-3 text-left">
          <strong>Fecha de entrada:</strong><br>
          <% f_entrada = ControlLote.where(lote_id: @lote.lote.id).pluck(:fecha_ingreso).min %>
          <%= I18n::localize(f_entrada, :format => "%d de %b/%y") %>
        </p>
        <p class="col-md-3 text-left">
          <strong>Fecha de salida:</strong><br>
          <%= @lote.estado.id==5 ? l(@lote.fecha_salida, format: "%d de %b/%y") : "No ha salido" %>
        </p>
      </div>

      <!--Facturación-->
      <% if can? :prices, Lote %>
          <hr>
          <div class="row">
            <p class="col-md-3 text-left">
              <strong>Número de factura:</strong>
              <%= @lote.lote.no_factura %>
            </p>
            <p class="col-md-3 text-left">
              <strong>Número de remisión:</strong>
              <%= @lote.lote.no_remision %>
            </p>
            <p class="col-md-3 text-left">
              <strong>Precio unitario:</strong>
              <%= Money.new("#{@lote.lote.precio_u}00", "COP").format(no_cents: true) %>
            </p>
            <p class="col-md-3 text-left">
              <strong>Precio total:</strong>
              <%= Money.new("#{@lote.lote.precio_t}", "COP").format(no_cents: true) %>
            </p>
          </div>
      <% end %>

      <!--Insumos-->
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Insumos</div>
            <div class="panel-body">
              <p class="col-sm-6">
                <strong>Fecha de revisión:</strong><br>
                <%= @lote.lote.fecha_revision %>
              </p>
              <p class="col-sm-6">
                <strong>Fecha de entrega:</strong><br>
                <%= @lote.lote.fecha_entrega %>
              </p>
              <p class="col-sm-6">
                <strong>Observaciones:</strong><br>
                <%= @lote.lote.obs_insumos %>
              </p>
              <p class="col-sm-6">
                <strong>Listos:</strong>
                <%= @lote.lote.fin_insumos ? "Si" : "No" %>
              </p>
            </div>
          </div>
        </div>

        <!--Integración-->
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Integración</div>
            <div class="panel-body">
              <p class="col-sm-6">
                <strong>Observaciones:</strong><br>
                <%= @lote.lote.obs_integracion %>
              </p>
              <p class="col-sm-6">
                <strong>Listo:</strong>
                <%= @lote.lote.fin_integracion ? "Si" : "No" %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <!--Procesos-->
      <div class="row">
        <p class="col-sm-3 text-left">
          <strong>Proceso:</strong>
          <%= @lote.estado.estado %>
        </p>
        <p class="col-sm-3 text-left">
          <strong>Entrada a este proceso:</strong><br>
          <%= I18n::localize(@lote.fecha_ingreso, :format => "%d de %B de %Y") %>
        </p>
        <p class="col-sm-3 text-left">
          <strong>Proceso adicional:</strong>
          <%= @lote.sub_estado.nil? ? "-" : "#{@lote.sub_estado.sub_estado.capitalize}" %>
        </p>
        <p class="col-md-3 text-left">
          <strong>Tiempo de proceso:</strong>
          <%= days @lote.fecha_ingreso, @lote.fecha_salida %>
        </p>
      </div>

    </div>
    <!--Body modal-->
    <div class="modal-footer">
      <p class="text-left pull-left">
        <strong>Última edición:</strong>
        El <%= I18n::localize @lote.lote.updated_at, :format => "%d de %b" %>
        por <%= @lote.lote.respon_edicion_id.name %>
      </p>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      <% if can? :update, Lote %>
          <div class="btn-group">
            <%= link_to edit_lote_path(@lote.lote, :commit => "edit", :estado_id => @lote.estado.id, :sub_id => @lote.sub_estado.nil? ? "" : "#{@lote.sub_estado.id}"), class: "btn btn-primary" do |l| %>
                <%= content_tag :i, "", :class => "fa fa-pencil" %>
                Editar
            <% end %>
            <% next_estado =  @lote.estado.next %>
            <% if next_estado %>
                <%= link_to lote_cambio_estado_path(@lote, :btn => next_estado.id, :plc => params[:plc]), data:{ action: "cambio_estado" },
                            method: "PATCH", :class => "btn btn-primary" do %>
                    <i class='fa fa-fast-forward fa-fw' aria-hidden='true'></i>
                    <%= next_estado.nombre_accion %>
                <% end %>
            <% end %>
          </div>
      <% end %>
    </div>

  </div>
</div>