<% content_for :title do %>
    Lotes
<% end %>
<%= content_for :content_header do %>
    <h1>
      Todos los lotes
      <small>Estos son todos los lotes de <%= session[:selected_company] ? "Cofecab" : "Diseños y camisas" %></small>
    </h1>
<% end %>
<%= content_for :content_breadcrumb do %>
    <li><%= link_to "Lotes", lotes_path %></li>
<% end %>
<% can_pri = can? :prices, Lote %>
<div class="box box-primary with-border" style="margin-top: 20px;">
  <div class="box-header">
    <h4 class="box-title">Lotes</h4>
    <div class="box-tools pull-right">
      <% if can? :export, Lote %>
          <%= link_to options_export_lotes_path, :remote => true, :class => "btn-sm", :id => "exportar", :title => "Exportar excel" do %>
              <i class="fa fa-file-excel-o fa-2x" aria-hidden="true"></i>
          <% end %>
      <% end %>

      <% if can? :create, Lote %>
          <%= link_to new_lote_path(:plc => controller_name), :title => "Nuevo lote", :class => "btn-sm" do %>
              <%= content_tag :i, "", :class => "fa fa-plus fa-2x" %>
          <% end %>
      <% end %>
    </div>

  </div>
  <div class="box-body">
    <div class="nav-tabs-custom">
      <% active = @estados.first.id %>

      <ul class="nav nav-tabs">
        <% @estados.each do |estado| %>
          <li class="<%= "active" if estado.id == active %>" data-url-tabs="<%= lotes_path(format: :js, state: estado.id) %>"><%= link_to estado.name.capitalize, "##{estado.name.downcase}", data:{:toggle => "tab"} %></li>
        <% end %>
      </ul>
      <div class="tab-content no-padding">
        <% @estados.each do |estado| %>
            <div class="tab-pane <%= "active" if estado.id == active %>" id="<%= estado.name.downcase %>"></div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="targets" data-padding="[<%= can_pri ? "1, 7" : "1" %>]" data-orderable="[1, 3, 4, 5<%= ", 7, 8" if can_pri  %>]"></div>
</div>
