<%= content_for :content_breadcrumb do %>
    <li><%= link_to "Mi cuenta", edit_user_registration_path %></li>
<% end %>
<%= content_for :content_header do %>
    <h1>Configuración de mi cuenta</h1>
<% end %>
<% content_for :title do
  "Actualizar datos"
end %>
<div>

</div>
<div class="box box-primary">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <div class="box-body">
        <div class="row">
          <div class="col-md-6"><%= f.input :email, required: true, autofocus: true, label: "Correo electrónico" %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Esperando confirmación para: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :name, required: true, label: "Nombre" %>
            <%= f.input :telefono, label: "Teléfono" %>
          </div>
          <div class="col-md-6">
            <%= f.input :username, required: true, label: "Cédula" %>
            <%= f.input :password, autocomplete: "off", label: "Contraseña",
                        hint: "Deje este campo en blanco si no desea cambiar la contraseña", required: false %>
            <%= f.input :password_confirmation, required: false, label: "Confirme su contraseña" %>
          </div>
          <div class="col-md-12">
            <%= f.input :current_password, label: "Contraseña actual",
                        hint: "Ingrese su contraseña actual para confirmar los cambios", required: true %>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="box-tools pull-right">
          <%= f.button :submit, "Aceptar", data: {:disabled_with => "Guardando"}, :class => "btn btn-primary btn-sm" %>
          <%= link_to 'Cancelar', :back, class: "btn btn-default" %>
        </div>
      </div>
  <% end %>
</div>
<% if current_user.id != 1 %>
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">Cancelar mi cuenta</h3>
      </div>
      <div class="box-body">
        <p><%= link_to "Cancelar mi cuenta", registration_path(resource_name),
                       data: {confirm: "Perderá acceso total a la aplicación si elimina su cuenta. ¿Está seguro?"},
                       method: :delete %></p>
      </div>
    </div>
<% end %>