<li class="dropdown user user-menu">
  <%= link_to "#", data: {toggle: "dropdown"}, class: "dropdown-toggle" do %>
      <i class="fa fa-user" aria-hidden="true"></i>
      <span class="hidden-xs"><%= current_user.name %></span>
  <% end %>
  <ul class="dropdown-menu">
    <!-- User image -->
    <li class="user-header">
      <p>
        <%= current_user.name.capitalize %>
        <small>Registrado(a) <%= I18n::localize(current_user.created_at, format: "%B de %Y").downcase %></small>
      </p>
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
      <div class="pull-left">
        <%= link_to edit_user_registration_path, :class => "btn btn-default btn-flat" do %>
            <i class="fa fa-gear fa-fw"></i>
            Perfil
        <% end %>
      </div>
      <div class="pull-right">
        <%= link_to destroy_user_session_path, :class => "btn btn-default btn-flat", :method => 'delete', :title => "Salir" do %>
            <%= content_tag :i, "", :class => "fa fa-sign-out" %>
            Salir
        <% end %>
      </div>
    </li>
  </ul>
</li>
<li class="dropdown notifications-menu">
  <%= link_to "#", data: {:toggle => "dropdown"}, :class => "dropdown-toggle", :aria_expanded => "false", :title => "Base de datos" do %>
      <i class="fa fa-database fa-fw"></i>
      <span class="hidden-xs">Bases de datos</span>
  <% end %>
  <ul class="dropdown-menu">
    <li>
      <ul class="menu">
        <li><%= link_to  "#" do %>Personas<% end %></li>
        <% if can? :read, Cliente %>
            <li>
              <%= link_to clientes_path do %>
                  <i class="fa fa-list-alt fa-fw text-aqua"></i> Clientes
              <% end %>
            </li>
        <% end %>
        <% if (can? :read, User) %>
            <li>
              <%= link_to users_path, title: "Usuarios" do %>
                  <i class="fa fa-users fa-fw text-aqua"></i> Usuarios
              <% end %>
            </li>
        <% end %>
        <% if can?(:read, Cliente) && can?(:read, TipoPrenda)%>
            <li><%= link_to  "#" do %>Tablas<% end %></li>
        <% end %>
        <% if can? :read, TipoPrenda %>
            <li>
              <%= link_to tipos_prendas_path do %>
                  <i class="fa fa-tags fa-fw text-red"></i> Descripción de prendas
              <% end %>
            </li>
        <% end %>
        <% if can? :read, Estado %>
            <li>
              <%= link_to estados_path do %>
                  <i class="fa fa-cube fa-fw text-red"></i>
                  Procesos
              <% end %>
            </li>
        <% end %>
        <% if can? :read, SubEstado %>
            <li>
              <%= link_to sub_estados_path do %>
                  <i class="fa fa-cubes fa-fw text-red"></i> Procesos adicionales
              <% end %>
            </li>
        <% end %>
        <% if can? :read, UnidadTiempo %>
            <li>
              <%= link_to unidades_tiempos_path do %>
                  <i class="fa fa-clock-o fa-fw text-red"></i> Unidades de tiempo
              <% end %>
            </li>
        <% end %>
      </ul>
    </li>
  </ul>
</li>