<p id="notice"><%= notice %></p>

<h1>Unidades Tiempos</h1>

<table>
  <thead>
    <tr>
      <th>Unidad</th>
      <th>Segundos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unidades_tiempos.each do |unidad_tiempo| %>
      <tr>
        <td><%= unidad_tiempo.unidad %></td>
        <td><%= unidad_tiempo.segundos %></td>
        <td><%= link_to 'Show', unidad_tiempo %></td>
        <td><%= link_to 'Edit', edit_unidad_tiempo_path(unidad_tiempo) %></td>
        <td><%= link_to 'Destroy', unidad_tiempo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unidad Tiempo', new_unidad_tiempo_path %>
