<p id="notice"><%= notice %></p>

<p>
  <strong>Unidad:</strong>
  <%= @unidad_tiempo.unidad %>
</p>

<p>
  <strong>Segundos:</strong>
  <%= @unidad_tiempo.segundos %>
</p>

<%= link_to 'Edit', edit_unidad_tiempo_path(@unidad_tiempo) %> |
<%= link_to 'Back', unidades_tiempos_path %>
