<fieldset class="row">
  <hr>
    <div class="col-md-6">
      <%= f.input :contacto %>
    </div>
    <div class="col-md-5">
      <%= f.input :cargo %>
    </div>
    <div class="col-md-1">
      <%= f.hidden_field :_destroy %>
      <%= link_to '<i class="fa fa-times"></i>'.html_safe, '#', class: "remove_fields btn btn-danger btn-sm", style: "margin-top: 25px;" %>
    </div>

    <!--Correos-->
    <div class="col-md-12">
      <%= f.fields_for :correos do |correo| %>
          <%= render 'correos/correo_fields', f: correo %>
      <% end %>
      <%= fields '<i class="fa fa-envelope-o"></i> Correo'.html_safe, f, :correos, "btn" %>
    </div>
</fieldset>