<%if params[:place]== "form_lote_tipo_prenda"%>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Descripci贸n nueva</h4>
    </div>
    <div class="modal-body">
      <%= simple_form_for(@tipo_prenda, 
      url: tipos_prendas_path(:place => "form_lote_response"), remote: true) do |f| %>
        <div class="alert alert-danger" role="alert" style="display: none;" id="alert">
          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Verifique la informaci贸n de los campos
        </div>
        <div class="form-inputs">
          <%= f.input :tipo, label: "Descripci贸n", input_html:{ style: 'text-transform:uppercase;' } %>
        </div>
        
          <div class="modal-footer">
            <div class="form-actions">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <%= f.submit :submit, :value => "Aceptar", data:{ :disable_with => "Guardando..."}, :class => "btn btn-default" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<%else%>
  <%= simple_form_for(@tipo_prenda) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :tipo, label: "Descrici贸n", input_html:{ style: 'text-transform:uppercase;' } %>
    </div>
    
     <div class="form-actions text-right">
        <%= f.button :submit, :value => "Aceptar", 'data-disable-with' => "Guardando..."%>
        <%= link_to 'Cancelar', tipos_prendas_path, class:"btn btn-outline btn-primary" %>
      </div>
  <% end %>
<%end%>
