<%= content_for :content_breadcrumb do %>
    <li><%= link_to "Descripci贸n de prendas", tipos_prendas_path %></li>
    <li class="active"><%= link_to "Editar descripci贸n", edit_tipo_prenda_path(@tipo_prenda) %></li>
<% end %>
<%= content_for :content_header do %>
    <h1>Editar descripci贸n</h1>
<% end %>
<%content_for :title do "Editar descripci贸n" end%>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'form', tipo_prenda: @tipo_prenda %>
    </div>
</div>