<%= simple_form_for @user, url: create_user_path do |f|%>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, label: "Correo electrónico" %>
      <%= f.input :name, required: true, label: "Nombre" %>
      <%= f.input :telefono, label: "Teléfono" %>
      <%= f.input :username, required: true, label: "Cédula"%>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} 
      characters minimum" if @minimum_password_length), label: "Contraseña" %>
      <%= f.input :password_confirmation, required: true, label: "Confirme contraseña" %>
    </div>
        <%= f.collection_select :rol_ids, Rol.all, :id, :name, {:class => "selectpicker"}, {multiple: true}%>
    <div>
      <p>* Campos requridos</p>
    </div>
    <div class="form-actions text-right">
      <%= f.button :submit, "Resgistrar" %>
      <%= link_to 'Cancelar', users_path, class:"btn btn-outline btn-primary"%>
    </div>
  
<%end%>