<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="myModalLabel"><%=@user.name%></h4>
    </div>
    <div class="modal-body">
      <p>
        <strong>Teléfono:</strong>
        <%= @user.telefono %>
      </p>
      <p>
        <strong>Correo:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Cédula:</strong>
        <%= @user.username %>
      </p>
      <p>
        <strong>Último ingreso:</strong>
        <%= I18n::localize(@user.current_sign_in_at, :format => "%d de %B a las %I:%M %p" ) %>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
