<% content_for :title do
  "Usuarios"
end %>
<div class="box box-primary with-border">
  <div class="box-header">
    <h3 class="box-title">Usuarios</h3>
      <div class="box-tools pull-right">
        <% if can? :create, User %>
            <%= link_to new_user_path, :title => "Nuevo usuario" do %>
                <%= content_tag :i, "", :class => "fa fa-plus fa-2x" %>
            <% end %>
        <% end %>
      </div>
  </div>
  <div class="box-body table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th title="Nombre">Nombre</th>
        <th title="Cédula">Cédula</th>
        <th title="Correo">Correo</th>
        <th title="Teléfono">Teléfono</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user), {:remote => true, :title => "Ver detalles"} do %>
                  <%= content_tag :i, "", :class => "fa fa-list-alt" %>
              <% end %>
            </td>
            <td>
              <% if current_user.id == user.id %>
                  <%= link_to edit_user_registration_path, :title => "Editar mi perfil" do %>
                      <%= content_tag :i, "", :class => "fa fa-pencil" %>
                  <% end %>
              <% elsif can? :destroy, User %>

                  <% if user.id == 1 %>
                      <%= link_to "", class: "text-red", :disabled => true,
                                  :title => "El usuario administrador no se puede eliminar" do %>
                          <%= content_tag :i, "", :class => "fa fa-trash-o" %>
                      <% end %>
                  <% else %>

                      <%= link_to user, method: :delete, class: "text-red",
                                  :title => "Eliminar", data: {confirm: "Are you sure?"} do %>
                          <%= content_tag :i, "", :class => "fa fa-trash-o" %>
                      <% end %>
                  <% end %>
              <% end %>
            </td>
            <td title="Nombre"><%= user.name %></td>
            <td title="Cédula"><%= user.username %></td>
            <td title="Correo"><%= user.email %></td>
            <td title="Teléfono"><%= user.telefono %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
</div>