<%= content_for :content_breadcrumb do %>
    <li><%= link_to "Usuarios", users_path %></li>
    <li class="active"><%= link_to "Nuevo usuario", new_user_path %></li>
<% end %>
<%= content_for :content_header do %>
    <h1>Nuevo usuario</h1>
<% end %>
<%content_for :title do "Nuevo usuario" end%>
    <%= render 'form'%>
 