<%= simple_form_for(@seguimiento) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :cantidad %>
    <%= f.association :control_lote %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
