<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">
      <h3 class="panel-title">Instrucciones de restauración</h3>
    </div>
  </div>
  <div class="panel-body">
    <h3>Hola, <%= @resource.name %></h3>
    <p>Has solicitado un cambio de contraseña, ingresa al enlace abajo para hacerlo:</p>
    <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %>
    <p>Si no lo solicitaste por favor ignora este mensaje.</p>
    <p>Tu contraseña no cambiará a menos que ingreses al enlace y crees una nueva.</p>
  </div>
</div>
<div style="width: 100%;">
  <div class="pull-left" style="width: 50%;">
    Medellín, Colombia<br>
    Sitio web: <%= link_to "confecab.com", "confecab.com" %><br>
    Tel: 444 45 25<br>
    <%= email_image_tag "img/cab.png", class: "img-width-xs text-left" %>
  </div>

  <div class="pull-right" style="width: 50%;">
    Medellín, Colombia<br>
    Sitio web: <%= link_to "dycsas.com.co", "dycsas.com.co" %><br>
    Tel: 444 45 25<br>
    <%= email_image_tag "img/dyc.png", class: "img-width-xs text-left" %>
  </div>
</div>
