<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="pull-left">Ciclo de producción</h4>
      <%= link_to new_lote_control_lote_path(@lote), :class => "pull-right", :title => 'Proceso nuevo'  do %>
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
      <% end %>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="bg-primary">
            <th colspan="<%= colspan 5 %>">REFERENCIA: <%=@lote.referencia.referencia%></th>
            <th colspan="4">OP: <%=@lote.op%></th>
          </tr>
          <tr class="bg-info">
            <% if can?(:update, ControlLote) || can?(:destroy, ControlLote) %>
            <th colspan="<%= colspan 2 %>"></th>
            <% end %>
            <th>Proceso</th>
            <th>P.adicional</th>
            <th class="col-xs-2">Ingreso-Salida</th>
            <th class="col-xs-2" >Ingresado por</th>
            <th class="col-xs-2" >Salida por</th>
            <th>Días</th>
            <th class="col-xs-3">Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <% @ciclo_lote.each do |control_lote| %>
            <tr>
              <% if can? :update, ControlLote %>
              <td>
                <%= link_to edit_lote_control_lote_path(@lote, control_lote) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
              </td>
              <% end %>
              <% if can? :destroy, ControlLote %>
              <td>
                <%= link_to lote_control_lote_path(@lote, control_lote), data:{:confirm => "¿Esta seguro de eliminar este proceso?"}, method: "delete" do %>
                <i class="fa fa-trash" aria-hidden="true" style="color:red;"></i>
                <% end %>
              </td>
              <% end %>
              </td>
              <td title="Proceso"><%= control_lote.estado.name.upcase %></td>
              <td title="Proceso adicional"><%= sub_process control_lote.sub_estado %></td>
              <td title="Fecha de ingreso"><%=range_date control_lote.fecha_ingreso, control_lote.fecha_salida%></td>
              <td title="Responsable de ingreso"><%= control_lote.resp_ingreso_id.name %></td>
              <td title="Responsable de salida"><%= respon_exit control_lote.resp_salida_id%></td>
              <td title="Días en proceso"><%= days control_lote.fecha_ingreso, control_lote.fecha_salida %></td>
              <td title="Observaciones"><%= control_lote.observaciones %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <%=next_state cambio_estado_path(@lote), @lote.control_lotes.last.estado.id, {:class => "btn btn-primary"}, {:class => "fa fa-forward fa-fw"}%>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>