<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2>Ciclo de producción</h2>
    </div>
    <div class="modal-body table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="bg-primary">
            <th colspan="4">
              REFERENCIA:
              <%=@lote.referencia.referencia%>
            </th>
            <th colspan="3">
              OP:
              <%=@lote.op%>
            </th>
          </tr>
          <tr class="bg-info">
            <th>Proceso</th>
            <th>P.adicional</th>
            <th>Ingreso-Salida</th>
            <th class="col-xs-2" >Ingresado por</th>
            <th class="col-xs-2" >Salida por</th>
            <th>Días</th>
            <th class="col-xs-3">Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <% @ciclo_lote.each do |control_lote| %>
            <tr>
              <td title="Proceso"><%= control_lote.estado.estado %></td>
              <td title="Proceso adicional"><%= sub_process control_lote.sub_estado %></td>
              <td title="Fecha de ingreso"><%=range_date control_lote.fecha_ingreso, control_lote.fecha_salida%></td>
              <td title="Responsable de ingreso"><%= control_lote.resp_ingreso_id.name %></td>
              <td title="Responsable de salida"><%= respon_exit control_lote.resp_salida_id%></td>
              <td title="Días en proceso"><%= days control_lote.fecha_ingreso, control_lote.fecha_salida %></td>
              <td title="Observaciones">Esta es una buena observación posible para el lote</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>