<% this = ControlLote %>
<% seguimiento = Seguimiento %>
<% update_seguimiento = can? :update, seguimiento %>
<% read_seguimiento = can? :read, seguimiento %>
<tr>
  <% if can? :update, this %>
      <td>
        <%= link_to edit_lote_control_lote_path(@lote, control_lote, :plc => params[:plc]) do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </td>
  <% end %>
  <% if can? :destroy, this %>
      <td>
        <%= link_to lote_control_lote_path(@lote, control_lote, :plc => params[:plc]),
                    data: {:confirm => "¿Esta seguro de eliminar este proceso?", action: "delete"}, remote: true, method: "delete" do %>
            <i class="fa fa-trash text-red" aria-hidden="true"></i>
        <% end %>
      </td>
  <% end %>
  <td title="Proceso"><%= control_lote.estado.name.upcase %></td>
  <td title="Proceso adicional"><%= sub_process control_lote.sub_estado %></td>
  <td title="Fecha de ingreso"><%= control_lote.date_range %></td>
  <td title="Responsable de ingreso"><%= control_lote.resp_ingreso_id.name %></td>
  <td title="Responsable de salida"><%= respon_exit control_lote.resp_salida_id %></td>
  <td title="Días en proceso"><%= days control_lote.fecha_ingreso, control_lote.fecha_salida %></td>
  <td title="Observaciones"><%= control_lote.observaciones %></td>
  <% if update_seguimiento or read_seguimiento %>
      <td class="no-padding text-center col-md-2">
        <%= update_seguimiento ? wip_tracing(control_lote) : control_lote.cantidad_last %>
      </td>
  <% end %>
</tr>