<% content_for :title do  "Historial" end%>
<p id="notice"><%= notice %></p>
  <h1 class="page-header">Historial de movimiento de los lotes</h1>
  <div class="table-responsive"> 
    <table class="table table-hover" id="control">
      <thead>
        <tr>
          <th>Id</th>
          <th>Op</th>
          <th>Sub estado</th>
          <th>Lote</th>
          <th>Fecha de entrada</th>
          <th>Fecha de salida</th>
          <th>Estado</th>
          <th>Minutos</th>
          <th>Reponsable ingreso</th>
          <th>Reponsable salida</th>
        </tr>
      </thead>
    
      <tbody>
        <% @control_lotes.each do |control_lote| %>
          <tr>
            <td><%= control_lote.id %></td>
            <td><%= control_lote.lote.op %></td>
            <%  if control_lote.sub_estado.nil? == false %>
              <td><%= control_lote.sub_estado.sub_estado %></td>
            <% else %>
              <td></td>
            <% end %>
            <td class="col-xs-1">
              <% if control_lote.lote.referencia != nil %>
                <%= control_lote.lote.referencia.referencia %>
              <% end %>
            </td>
            <td class="col-xs-2"><%= I18n::localize(control_lote.fecha_ingreso, :format => "%d de %b %H:%M ") %></td>
            <% if control_lote.fecha_salida.nil? %>
              <td>-</td>
            <% else %>
              <td class="col-xs-2"><%= I18n::localize(control_lote.fecha_salida, :format => "%d de %b %H:%M ") %></td>
            <% end  %>
            <td><%= control_lote.estado.estado %></td>
            <td><%= control_lote.min_u %></td>
            <%if control_lote.resp_ingreso_id.nil?%>
              <td></td>
            <%else%>
              <td  class="col-xs-2"><%= control_lote.resp_ingreso_id.name %></td>
            <%end%>
            <%if control_lote.resp_salida_id.nil?%>
              <td>-</td>
            <%else%>
              <td class="col-xs-2"><%= control_lote.resp_salida_id.name %></td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>