<%= simple_form_for(@programacion_lote, :url => programacion_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :referencia, :disabled => true%>
    <%= f.association :cliente, readonly: true  %>
    <%= f.input :descripcion %>
    <%= f.input :secuencia %>
    <%= f.input :precio_u, label: "Precio unitario" %>
    <%= f.input :precio_t, readonly: true , label: "Precio total" %>
    <%= f.input :meta %>
    <%= f.input :h_req, readonly: true %>
    
    <input type="hidden" name="btn" value="programacion" />
    <%= f.select :mes , options_for_select([[''],['Enero'],
    ['Febrero'],['Marzo'],['Abril'],['Mayo'],['Junio'],
    ['Julio'],['Agosto'],['Septiembre'],['Octubre'],
    ['Noviembre'],['Diciembre']]), class:'form-control'%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
