<%price = Programacion.price @rol_form%>
	<%@lotes.each do |lote|%>
		<%lote.each do |l|%>
			<tr  data-item-id=<%= "#{l.id}" %> class="item">
				<td><%=check_box_tag "lotes[#{l.id}]", l.id%></td>
				<td><%=text_field_tag "programacion[secuencia][#{l.id}]", "", :value => l.secuencia, :style => "max-width: 3em;"%></td>
				<td><%=@estados["#{l.id}"]%></td>
				<td><%=l.cliente.cliente%></td>
				<td><%=l.tipo_prenda.tipo%></td>
				<td><%=l.referencia.referencia%></td>
				<td><%=l.cantidad%></td>
				<%if price%>
				<td><%=Lote.str_pesos l.precio_u%></td>
				<td><%=Lote.str_pesos l.precio_t%></td>
				<%end%>
				<td><%=l.meta%></td>
				<td><%=l.h_req%></td>
			</tr>
		<%end%>
	<%end%>

	