<% @lotes.each do |lote| %>
    <% lote.each do |l| %>
        <tr data-item-id=<%= "#{l.id}" %> class="item">
          <% if can? :update, Programacion %>
              <td><%= check_box_tag "lotes[#{l.id}]", l.id %></td>
          <% end %>
          <td style="padding: 0px;">
            <%= render partial: "lotes/dropdown_options", locals: {lote_id: l.id, estado_id: @estados["#{l.id}"][:id]} %>
          </td>
          <% if can? :update, Programacion %>
              <td style="padding-top: 5px; padding-bottom: 3px;" class="text-center"><%= text_field_tag "programacion[secuencia][#{l.id}]", "", :value => l.secuencia, :style => "max-width: 3em;" %></td>
          <% end %>
          <td><%= @estados["#{l.id}"][:name] %></td>
          <td><%= l.cliente.cliente %></td>
          <td><%= l.tipo_prenda.tipo %></td>
          <td><%= l.referencia.referencia %></td>
          <td><%= l.cantidad %></td>
          <% if can? :prices, Lote %>
              <td><%= Money.from_amount(l.precio_u, "COP").format(:no_cents => true) %></td>
              <td><%= Money.from_amount(l.precio_t, "COP").format(:no_cents => true) %></td>
          <% end %>
        </tr>
    <% end %>
<% end %>

	