<%@mes_active = @meses[date[:month]][:number]%>
<div id="<%=year%>" class="tab-pane fade <%= year.to_s == date[:year] ? "in active" : ""%>"> 
	<!--Meses-->
	<ul class="nav nav-tabs" role="tablist" id="months">
		<%@meses.each do |k, v|%>
		<% year_month = "#{year}#{v[:number]}" %>
		<% active = params[:month] == year_month ? true : false%>
		<li class="tab_mes <%= active ? "active" : ""%>" id='<%=year_month%>'><%= link_to v[:string], program_table_path(year_month), remote: true %></li>
		<%end%>	
	</ul>
	<div class="tab-content">
		<% @meses.each do |k, v| %>
		<% year_month = "#{year}#{v[:number]}" %>
		<% active = params[:month] == year_month ? true : false%>
		<div  id="<%="#{year_month}p"%>" class="tab-pane fade <%= active ? "in active current" : ""%>">
			<%=render partial: "head_table", locals:{ year_month: year_month }%>
		</div>	
		<%end%>
	</div>
</div>