<%date = Programacion.date_split params[:month] %>
<%@mes_active = @meses[date[:month]][:number]%>
<div id="<%=year%>" class="tab-pane fade in active"> 
	<!--Meses-->
	<ul class="nav nav-tabs" role="tablist">
		<%@meses.each do |k, v|%>
		<li class="tab_mes <%=v[:number] == @mes_active ? "active" : ""%>" id='<%="#{year}#{v[:number]}"%>'><%= link_to v[:string], program_table_path("#{year}#{v[:number]}", :empresa => params[:empresa]), method: :post, remote: true%></li>
		<%end%>	
	</ul>
	<div class="tab-content">
		<%@meses.each do |k, v|%>
		<div id="<%="#{year}#{v[:number]}p"%>" class="tab-pane fade <%=v[:number] == @mes_active ? "in active" : ""%>">
			<div class="table-responsive">
			<%=render partial: "head_table", locals:{mes: v, year: year}%>
			</div>
		</div>	
		<%end%>
	</div>
</div>