<div class="modal-dialog" role="document" >
	<div class="modal-content">
		<div class="modal-header">
			Opciones de exportación
		</div>
		<%= simple_form_for :export, url: @url, method: "GET" do |f| %>
		<div class="modal-body">
			<div class="well row" style="padding: 2px;">
				<div class="col-md-12">
					<h5>Seleccione un filtro (Opcional)</h5>
				</div>
				<div class="col-xs-4">
					<%= f.input :cliente, collection: @clientes, required: false, input_html: { :class => "input-sm" } %>
				</div>
				<div class="col-xs-4">
					<%= f.input "control_lotes.estado", collection: @estados, label: "Estado", required: false, input_html: { :class => "input-sm" } %>
				</div>
				<div class="col-xs-4">
					<%= f.input "control_lotes.sub_estado", collection: @sub_estados, label: "Proceso externo", required: false, input_html: { :class => "input-sm" } %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<h5>Columnas estandar:</h5>
					<ul>
						<li>Fecha de ingreso</li>
						<li>Estado actual</li>
						<li>Número de secuencia</li>
						<li>Cliente</li>
						<li>Referencia</li>
						<li>OP</li>
						<li>Cantidad</li>
					</ul>
				</div>
				<div class="col-xs-6">
					<% if can? :prices, Lote %>
					<%= f.input :precio_u, as: :boolean, label: "Precio unitario" %>
					<%= f.input :precio_t, as: :boolean, label: "Precio total" %>
					<% end %>
					<%= f.input :processes, as: :boolean, label: "Procesos (WIP)" %>
					<%= f.input :processes_details,  as: :radio_buttons, label: "Detallar procesos externos:", required: false,
                      disabled: true, input_html: { value: true }, checked: true, item_wrapper_class: "inline"%>
          <%= f.input :reprocess,  as: :radio_buttons, label: "Reprocesos:", required: false,
                      disabled: true, input_html: { value: true }, checked: true, item_wrapper_class: "inline"%>
					<%= f.hidden_field :month, value: params[:month] %>
				</div>
			</div>
		</div>	
		<div class="modal-footer">
			<%= f.button :button, data:{ :dismiss => "modal" }, type: 'button' do %>
				Cancelar
			<% end %>
			<%= f.button :button do %>
				<i class="fa fa-external-link" aria-hidden="true"></i>
				Exportar
			<% end %>
		</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
	$("button[type=submit]").click(function(){
		$("#modal_add").modal("toggle");
	});
	$("#export_processes").click(function(){
		true_= $("#export_processes_details_true, #export_reprocess_true");
		false_ = $("#export_processes_details_false, #export_reprocess_false");
		true_.toggleClass("disabled");
		true_.attr('disabled', function(_, attr) { return !attr });
		false_.toggleClass("disabled");
		false_.attr('disabled', function(_, attr){ return !attr});
	});
</script>