<% lote_id = lote.fetch(9) %>
<% lote_object = Lote.find(lote_id) %>
<% estado = lote_object.control_lotes.last.estado %>
<tr data-item-id="<%= "#{lote_id}" %>" class="item" style="background-color: <%= estado.color_claro %>;">
  <% if can? :update, Programacion %>
      <td><%= render "checkbox", lote_id: lote_id %></td>
  <% end %>
  <td>
    <%= render partial: "lotes/dropdown_options", locals: {lote_id: lote_id, estado_id: estado.id} %>
  </td>
  <td>
    <%= render "text_field_secuencia", lote_id: lote_id, secuencia: lote.fetch(2) %>
  </td>
  <td style="background-color: <%= estado.color %>;"><%= estado_or_sub lote_id %></td>
  <td><%= lote.fetch(0) %></td>
  <td><%= lote.fetch(1) %></td>
  <td><%= lote.fetch(3) %></td>
  <td><%= lote.fetch(11) %></td><!--OP-->
  <td><%= lote.fetch(4) %></td>
  <% if can? :prices, Lote %>
      <td><%= money lote.fetch(5) %></td>
      <td><%= money lote.fetch(6) %></td>
  <% end %>
  <td>
    <%= render "input_ingresara_a_planta", lote_id: lote_id, ingresara: lote.fetch(10) %>
  </td>
</tr>

	