
<%=form_tag remove_from_programing_path(params[:month], :empresa => params[:empresa]), remote: true do%>
<%disabled = Programacion.interfaz @no_empty_program, @programaciones%>
<%$colspan = 8%>
<table class="table" id="<%=mes%>t">
	<caption>
		<div class="pull-left">
			<h4>Programaci칩n de <%=params[:empresa]%></h4>
		</div>
		<!--Opciones de exportaci칩n-->
		<div class="row pull-right text-right">
			<div class="col-sm-5 col-sm-offset-1">
				<div class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle disabled-btn" data-toggle="dropdown" <%=disabled.fetch(0) ? 'disabled' : ''%>>Exportar&nbsp;<i class="caret"></i></button>
					<ul class="dropdown-menu pull-right">
						<li>
							<%=link_to "Excel", export_excel_path(format: "xlsx", :month => params[:month], :empresa => params[:empresa])%>
						</li>
						<li>
							<%=link_to "PDF", export_pdf_path(format: "pdf",:month => params[:month], :empresa => params[:empresa])%>
						</li>
					</ul>	
				</div>
			</div>
			<%if @rol_form == "coor_tiempos" || @rol_form == "admin"%>
			<div class="col-sm-6">
				<%=submit_tag "Ordenar", class:"btn btn-default disabled-btn", disabled: disabled.fetch(0)%>
			</div>
			<%end%>
		</div>
	</caption>
	<thead>
		<tr>
			<th>&#x2713;</th>
			<th>Cliente</th>
			<th>Descripci칩n</th>
			<th>Sec</th>
			<th>Referencia</th>
			<th>Cant</th>
			<%if @rol_form == "coor_tiempos" || @rol_form == "admin" || @rol_form == "gerente"%>
			<%$colspan = 10%>
			<th>Precio</th>
			<th>Total</th>
			<%end%>
			<th>Meta</th>
			<th>Horas</th>
		</tr>

	</thead>
	<%=render partial: "table_tbody", colspan: $colspan%>
	<%if @rol_form == "coor_tiempos" || @rol_form == "admin"%>
	<tfoot>
		<tr>
			<td colspan="2">
				<div>
					<p></p>
				</div>
			</td>
			<td colspan="<%=$colspan - 2%>" style="margin-right:0px; padding-right:0px;">
				<div class="pull-right">
					<%=submit_tag "Retirar", class:"btn btn-warning disabled-btn", disabled: disabled.fetch(0)%>
					<%=link_to "A침adir", modal_open_path(params[:month], :empresa => params[:empresa]), class:"btn btn-default #{disabled.fetch(1) ? 'disabled' : ''}", remote: true, id: "add-lote" %>
				</div>
			</td>
		</tr>
	</tfoot>
	<%end%>
</table>
<%end%>

