<%disabled = Programacion.interfaz @no_empty_program, @programaciones%>
<%month = Programacion.date_split params[:month]%>
<%$colspan = 9%>
	<caption>
		<div class="pull-left">
			<h4>Programación de <%=@meses[month[:month]][:string]%></h4>
		</div>
		<!--Opciones de exportación-->
		<div class="pull-right text-right">
			<p style="cursor: help;" class="btn pull-left" data-html="true" data-toggle="popover" data-placement="bottom" title="Cómo ordenar" data-content="Para ordenar solo has click con el mouse sobre la fila y a arrastras hacia donde la quieres">
				<i class="fa fa-question-circle" title="Cómo ordenar"></i>
			</p>
			<div class="dropdown pull-right">
					<button type="button" class="btn btn-primary dropdown-toggle disabled-btn" data-toggle="dropdown" <%=disabled.fetch(0) ? 'disabled' : ''%>>Exportar&nbsp;<i class="caret"></i></button>
					<ul class="dropdown-menu pull-right">
						<li>
							<%=link_to export_excel_programaciones_path(format: "xlsx", :month => params[:month], :empresa => params[:empresa]) do%>
								<%=content_tag :i ,"",:class => "fa fa-file-excel-o"%>
								Excel
							<%end%>
						</li>
						<li>
							<%=link_to export_pdf_programaciones_path(format: "pdf",:month => params[:month], :empresa => params[:empresa]) do%>
								<%=content_tag :i ,"",:class => "fa fa-file-pdf-o"%>
								PDF
							<%end%>
						</li>
					</ul>	
			</div>
			<div class="pull-left col-sm-1">
				<%=submit_tag "Ordenar", class:"btn btn-default disabled-btn", disabled: disabled.fetch(0)%>
			</div>
		</div>
	</caption>
	<thead>
		<tr>
			<th style="width: 30px; min-width: 30px; cursor: help;">
				<p data-html="true" data-toggle="popover" data-placement="bottom" title="Retirar de programación" data-content='Selecciona los lotes deseados y has click en el botón "Retirar" para no incluirlos en la programación'>
					<i class="fa fa-check-square-o" title="Cómo retirar"></i>
				</p>
			</th>
			<%if can? :update, Programacion%>
			<th>Sec</th>
			<%end%>
			<th class="col-md-1">Estado</th>
			<th class="col-md-2" style="min-width: 170px;">Cliente</th>
			<th class="col-md-2">Descripción</th>
			<th class="col-md-2" style="min-width: 100px;">Referencia</th>
			<th class="col-md-1">Cant</th>
			<%if can? :prices, Lote%>
			<%$colspan = 11%>
			<th class="col-md-1">Precio</th>
			<th class="col-md-1">Total</th>
			<%end%>
			<th style="width: 60px; min-width: 30px;">Meta</th>
			<th>Horas</th>
		</tr>

	</thead>
	<%=render partial: "table_tbody", colspan: $colspan%>

	
	<tfoot>
		<tr>
			<td colspan="7">
				<%if can? :prices, Lote%>
				<div>
					<p class="col-md-2"><strong>Horas:</strong>  <%=@hours%></p>
					<p class="col-md-4"><strong>Precio total:</strong> <%=@total%></p>
				</div>
				<%end%>
			</td>
			<td colspan="<%=$colspan - 7%>" style="margin-right:0px; padding-right:0px;">
				<%if can? :update, Programacion%>
				<div class="pull-right">
					<%=submit_tag "Retirar", class:"btn btn-warning disabled-btn", disabled: disabled.fetch(0)%>
					<%=link_to "Añadir", modal_open_path(params[:month], :empresa => params[:empresa]), class:"btn btn-default #{disabled.fetch(1) ? 'disabled' : ''}", remote: true, id: "add-lote" %>
				</div>
				<%end%>
			</td>
		</tr>
	</tfoot>
	

