
<%=form_tag remove_from_programing_path(params[:month]), remote: true do%>
<table class="table" id="<%=mes%>t">
	<caption>
		<div class="pull-left">
			<h4>Programación</h4>
		</div>
		<div class="pull-right">
			<%=link_to "Exportar", export_excel_path(format: "xlsx", :month => params[:month])%>
			<%=link_to "Exportar PDF", export_pdf_path(format: "pdf",:month => params[:month])%>
			<button type="button">Importar</button>
		</div>
	</caption>
	<thead>
		<tr>
			<th>&#x2713;</th>
			<th>Cliente</th>
			<th>Descripción</th>
			<th>Sec</th>
			<th>Referencia</th>
			<th>Cant</th>
			<th>Precio</th>
			<th>Total</th>
			<th>Meta</th>
			<th>Horas</th>
			<th>I</th>
		</tr>

	</thead>
	<%=render partial: "table_tbody"%>
	<tfoot>
		<tr>
			<td colspan="11" style="margin-right:0px; padding-right:0px;">
				<div class="pull-right">
					<%=submit_tag "Retirar", data:{:dismiss_with => "Espere..."}, class:"btn btn-warning"%>
					<%= link_to "Añadir", modal_open_path(params[:month]), class:"btn btn-default", remote: true%>
				</div>
			</td>
		</tr>
	</tfoot>
</table>
<%end%>

