<% content_for :title do  "Programación" end%>
<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel panel-heading">
    <div class="row">
      <div class="col-lg-6">
        <h1>Programaciones</h1>
      </div>
    </div>
  </div>
  <div class="panel panel-body">
    <table class ="table">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Descripción</th>
          <th>Secuencia</th>
          <th>Referencia</th>
          <th>Precio</th>
          <th>Total</th>
          <th>Meta</th>
          <th>H/req</th>
          <th>Mes</th>
          <th></th>
          <% if can? :manage, @programacion %>
          <th></th>
          <th></th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <% secuencia = 1 %>
        <% @programacion_lotes.each do |programacion| %>
          <tr>
            <td><%= programacion.cliente.cliente %></td>
            <td><%= programacion.descripcion %></td>
            <td><%= secuencia %><% secuencia = secuencia + 1  %></td>
            <td><%= programacion.referencia.referencia %></td>
            <td class="text-right"><%= Lote.str_pesos(programacion.precio_u)%></td>
            <td class="text-right"><%= Lote.str_pesos(programacion.precio_t) %></td>
            <td><%= programacion.meta %></td>
            <td><%= programacion.h_req %></td>
            <td><%= programacion.mes %></td>
            <td><%= link_to 'Show', programacion_path(programacion), {:remote => true, "data-toggle" => "modal",
            "data-target" => "#myModal"}%></td>
            <% if can? :manage, Lote %>
            <td><%= link_to 'Edit', edit_programacion_path(programacion) %></td>
            <td><%= link_to 'Destroy', programacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-footer">
    <p>Costo total: $<%=@costo_total%></p>
    <p>Horas requeridas:&nbsp;<%=@horas_t%></p>
  </div>
  
</div>
<div class="modal fade" role="dialog" id="myModal"></div>