<table class="table table-bordered">
<%date = Programacion.date_split params[:month]%>
<%month = @meses[date[:month]]%>
	<caption>
			<h2>Programación de <%=month[:string]%></h2>
	</caption>
	<thead>
		<tr>
      <th>Sec.</th>
			<th>Estado</th>
			<th>Cliente</th>
      <th>Descripcion</th>
			<th>Referencia</th>
			<th>Cant</th>
			<%if (can? :prices, Lote)%>
			<th>Precio</th>
			<th>Total</th>
			<%end%>
      <th>Entrara a planta</th>
		</tr>
	</thead>
	<tbody>
		<%@programaciones.each do |lote|%>
        <% lote_id = lote.fetch(9) %>
      <tr class="no-padding" style="padding:0; margin:0;">
        <td><%= lote.fetch(2) %></td>
        <td><%= estado_or_sub lote_id %></td>
        <td><%= lote.fetch(0) %></td>
        <td><%= lote.fetch(1) %></td>
        <td><%= lote.fetch(3) %></td>
        <td><%= lote.fetch(4) %></td>
        <% if can? :prices, Lote %>
            <td><%= money lote.fetch(5) %></td>
            <td><%= money lote.fetch(6) %></td>
        <% end %>
        <td><%= set_date(lote.fetch(10), "%d %B %Y") %></td>
      </tr>
		<%end%>
	</tbody>
</table>

