<table class="table table-bordered">
<%date = Programacion.date_split params[:month]%>
<%month = @meses[date[:month]]%>
	<caption>
			<h2>Programación de <%=month[:string]%></h2>
	</caption>
	<thead>
		<tr>
			<th>Cliente</th>
			<th>Descripción</th>
			<th>Referencia</th>
			<th>Cant</th>
			<%if (can? :prices, Lote)%>
			<th>Precio</th>
			<th>Total</th>
			<%end%>
			<th>Meta</th>
			<th>Horas</th>
		</tr>
	</thead>
	<tbody>
		<%@programaciones.each do |programacion|%>
		<tr style="height: 25px;">
			<td style="padding:0; margin:0;"><%=programacion.fetch(0)%></td>
			<td style="padding:0; margin:0;"><%=programacion.fetch(1)%></td>
			<td style="padding:0; margin:0;"><%=programacion.fetch(3)%></td>
			<td style="padding:0; margin:0;"><%=programacion.fetch(4)%></td>
			<%if (can? :prices, Lote)%>
			<td style="padding:0; margin:0;"><%=Money.new(programacion.fetch(5)).format%></td>
			<td style="padding:0; margin:0;"><%=Money.new(programacion.fetch(6)).format%></td>
			<%end%>
			<td style="padding:0; margin:0;"><%=programacion.fetch(7)%></td>
			<td style="padding:0; margin:0;"><%=programacion.fetch(8)%></td>
		</tr>
		<%end%>
	</tbody>
</table>

