<div>
  <div class="callout callout-info">
    <h4>Año para <%= params[:cliente].capitalize %></h4>
  </div>
  <div id="annual<%= params[:year] %>" style="height: 200px;"></div>
  <button type="button" class="close btn btn-block btn-sm margin" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    Cerrar
  </button>
  <script type="text/javascript">
    new Morris.Bar({
      element: "annual<%= params[:year] %>",
      data: [
        <% @programaciones.each do |programacion| %>
        {
          cliente: '<%= @meses[programacion.mes.strftime("%m")][:string] %>',
          value: <%= programacion.lotes.joins(:control_lotes).where("lotes.cliente_id = ? and control_lotes.fecha_ingreso = (SELECT MAX(fecha_ingreso) FROM control_lotes cl GROUP BY lote_id HAVING cl.lote_id = control_lotes.lote_id) and control_lotes.estado_id = ?", @cliente.first.id, 5).sum("lotes.cantidad") %>
        },
        <%end%>
      ],
      xkey: 'cliente',
      ykeys: ['value'],
      labels: ['Cantidad'],
      resize: true
    });
  </script>
</div>