<div>
  <div class="well row">
    <h5 class="col-xs-10">Año para <%= params[:cliente].capitalize %></h5>
    <button type="button" class="close col-sm-2" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="annual<%= params[:year] %>" style="height: 200px;"></div>

  <script type="text/javascript">
    new Morris.Bar({
      element: "annual<%= params[:year] %>",
      data: [
        <% @programaciones.each do |programacion| %>
        {
          cliente: '<%= @meses[programacion.mes.strftime("%m")][:string] %>',
          value: <%= programacion.lotes.current_state.state_filtered(5).joins(:control_lotes).where("lotes.cliente_id = ?", @cliente.first.id).sum("lotes.cantidad") %>
        },
        <%end%>
      ],
      xkey: 'cliente',
      ykeys: ['value'],
      labels: ['Cantidad'],
      resize: true
    });
  </script>
</div>