<%= content_for :title do
  "Estadísticas de clientes"
end %>
<%= content_for :content_header do %>
    <h1>
      Estadísticas de los clientes
      <small>Use los filtros para detalles específicos</small>
    </h1>
<% end %>
<%= content_for :content_breadcrumb do %>
    <li><%= link_to "Estadísticas", estadisticas_path %></li>
    <li><%= link_to "Clientes", estadisticas_clientes_path %></li>
<% end %>
<div class="row">
  <% @years.each do |year| %>
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title"><%= year %></h3>
            <div class=" box-tools pull-right">
              <button type="button" class="btn btn-box-tool pull-right" data-widget="remove"><i class="fa fa-times"></i></button>
              <button type="button" class="btn btn-box-tool pull-right" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <% if !@year_clientes[year].empty? %>
                  <div class="dropdown pull-right">
                    <button type="button" class="btn btn-warning btn-xs dropdown-toggle margin-r-5" data-toggle="dropdown">
                      Cliente
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu" style="z-index: 10000;">
                      <% @year_clientes[year].each do |lote| %>
                          <li>
                            <%= link_to lote.cliente.name, clientes_show_path(year, :cliente => lote.cliente.name),
                                        remote: true, class: "show_filter" %>
                          </li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="dropdown pull-right margin-r-5">
                    <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
                      Mes
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu" style="z-index: 10000;">
                      <% @meses.each do |key, val| %>
                          <li>
                            <%= link_to val[:string], clientes_month_show_path("#{year}-#{val[:number]}", :month => val[:string]),
                                        remote: true, class: "show_filter" %>
                          </li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="box-body chart-responsive">
            <div id="<%= year %>"></div>
          </div>
        </div>
      </div>
  <% end %>
</div>
<script type="text/javascript">

  //Pintar gráficos necesarios
  <% @year_clientes.each do |year, amount| %>
  <% if amount.empty? %>
  $("#<%=year%>").html("<h4>No hay datos</h4>");
  <% else %>
  $("#<%=year%>").css("height", "200px");
  new Morris.Bar({
    element: '<%=year%>',
    data: [
      <% amount.each do |a| %>
      {cliente: '<%= a.cliente.name %>', value: <%= a.cantidad %>},
      <% end %>
    ],
    xkey: 'cliente',
    ykeys: ['value'],
    labels: ['Cantidad'],
    resize: true
  });
  <% end %>
  <% end %>
</script>