<%= content_for :title do "Estadísticas" end %>
<%= content_for :content_header do %>
    <h1>
      Estadísticas
      <small>Último mes de los clientes, progreso de la programación actual, y datos anuales para
        clientes y
        programación
      </small>
    </h1>
<% end %>
<%= content_for :content_breadcrumb do %>
    <li><%= link_to "Estadísticas", estadisticas_path %></li>
<% end %>
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Clientes</h3>
        <div class="box-tools pull-right">
          <%= link_to estadisticas_clientes_path, :class => "text-right" do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
              Ver detalles
          <% end %>
        </div>
      </div>
      <div class="box-body">
        <div class="col-md-4">
          <h5>Prendas en <%= I18n::localize((Time.new() - 1.month), format: '%B').downcase %></h5>
          <div id="cliente_mensual" style="height: 200px;"></div>
        </div>
        <div class="col-md-5">
          <h5>Clientes del año actual</h5>
          <div id="cliente_anual" style="height: 200px;"></div>
        </div>
        <div class="col-md-3">
          <div class="alert alert-link">
            Estos resultados muestran las cantidades de prendas completadas a los clientes en un periodo determinado de
            tiempo. Dé click <%= link_to "aquí", estadisticas_clientes_path %> si deséa ver los detalles para más años o
            algún més en especial.
          </div>
        </div>
      </div>
    </div>
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Avance de la programación</h3>
        <div class="box-tools pull-right">
          <%= link_to estadisticas_programaciones_path do %>
              <i class="fa fa-eye" aria-hidden="true"></i>
              Ver detalles
          <% end %>
        </div>
      </div>
      <div class="box-body">
        <div class="col-md-4">
          <h5>Programación de este mes</h5>
          <div id="programacion_mes" style="height: 200px;"></div>
        </div>
        <div class="col-md-5">
          <h5>Avance de plantas</h5>
          <div id="relatives" style="height: 200px;"></div>
        </div>
        <div class="col-md-3">
          <div class="alert alert-link">
            Avance de la programación. La planta de confección representa el 70% del valor mensual, y terminación
            el 30%. Dé click <%= link_to "aquí", estadisticas_programaciones_path %> para ver más detalles por año o
            mes.
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  new Morris.Bar({
    element: 'cliente_mensual',
    data: [
      <% if @amount_monthly.empty? %>
      {cliente: '-', value: 0},
      <% else %>
      <%@amount_monthly.each do |amount|%>
      {cliente: '<%=amount.cliente.name%>', value: <%=amount.cantidad%>},
      <%end%>
      <% end %>
    ],
    xkey: 'cliente',
    ykeys: ['value'],
    labels: ['Cantidad'],
    resize: true
  });
  new Morris.Bar({
    element: 'cliente_anual',
    data: [
      <% if @amount_annual.empty? %>
      {cliente: '-', value: 0},
      <% else %>
      <%@amount_annual.each do |amount|%>
      {cliente: '<%=amount.cliente.name%>', value: <%=amount.cantidad%>},
      <%end%>
      <% end %>
    ],
    xkey: 'cliente',
    ykeys: ['value'],
    labels: ['Cantidad'],
    resize: true
  });
  new Morris.Donut({
    element: 'programacion_mes',
    data: [
      {label: 'Sin terminar', value: "<%= 100 - @global_percente.round %>"},
      {label: 'Avance mensual', value: "<%= @global_percente.round %>"}
    ],
    colors: [
      "#D8DADC",
      "#1868AE"
    ],
    formatter: function (value, data) {
      return value + '%';
    },
    resize: true
  });
  new Morris.Bar({
    element: 'relatives',
    data: [
      {planta: 'Planta de confección', value: <%= @confeccion_relative.round %>},
      {planta: 'Terminación', value: <%= @terminacion_relative.round %>}
    ],
    xkey: 'planta',
    ykeys: ['value'],
    labels: ['Procentaje'],
    hoverCallback: function (index, options, content, row) {
      return 'Total: ' + row['value'] + "%";
    },
    resize: true
  });
</script>
