<div class="page-header">
  <h4 class="pull-left">Programaciones por año</h4>
  <div class="text-right">
    <%= link_to estadisticas_path, :class => "btn btn-default btn-sm" do %>
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
<div class="row">
  <% @years.each do |year| %>
      <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <%= year %>
            <div class="dropdown pull-right">
              <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown">
                Mes
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu" style="z-index: 10000;">
                <% @meses.each do |key, val| %>
                    <li>
                      <%= link_to val[:string], programaciones_show_path(year, val[:number]),
                                  remote: true, class: "show_filter" %>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="panel-body">
            <div id="<%= year %>" style="height: 200px;"></div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script type="text/javascript">
  <% @year_programaciones.each do |year, months| %>
    new Morris.Bar({
        element: "<%= year %>",
        data: [
          <% months.each do |month, percent| %>
          { mes: "<%= month %>", value: <%= percent.round %> },
          <% end %>
        ],
        xkey: 'mes',
        ykeys: ['value'],
        labels: ['%'],  
        resize: true
      });
  <% end %>
</script>