    <%action = params[:action].eql?("update") ? true : false%>
    <% # Se construye un nuevo formulario se la acción es update o no hay errores en el lote %>
    <%if !@has_programing.nil?%>
      <p class="text-danger text-center">
      <%=!@has_programing ? "El lote no tiene programación. Seleccione otro proceso" : ""%>
      </p>
    <%end%>
    <%= f.fields_for :control_lotes, @lote.errors.empty? || action ? @lote.control_lotes.build : nil,  validate: true do |c| %>
      <%= c.hidden_field :lote %>
      <div class="col-md-4">
        <%= c.input :fecha_ingreso, as: "string", 
        input_html: {:value => I18n::localize(Time.zone.utc_to_local(Time.new) + 60, :format => "%Y-%m-%d %H:%M:%S")},
        readonly: true, label: 'Entró a este proceso el día'  %>
      </div>
      <div class="col-md-4">
        <%= c.association :estado, :selected => params[:estado_id], 
        collection: params[:action].eql?("new") || params[:action].eql?("create") ? Estado.where("id < 3") :Estado.all, label: 'Parte del proceso', :include_blank => true %>
      </div>
      <% # Sección del subestado %>
      <div class="col-md-4">
        <%= c.input :sub_estado, :label => 'Proceso adicional',  wrapper: :vertical_input_group do %>
          <% # form nuevo  %>
            <%= c.input_field  :sub_estado_id, class: "form-control",
            :collection => @sub_estados, :value_method => :id, 
            :include_blank =>  true, :selected => params[:sub_id]%>
          
            <div class="input-group-btn">
              <%= link_to '...', add_remote_data_path(:place => "form_lote_sub_estado"),
              {:remote => true, :class => "btn btn-primary", :title => "Nuevo proceso"} %>
            </div>
        <% end %>
        <%= f.hidden_field :_destroy %>
      </div>
    <% end %>
</div>