<%= content_for :content_header do %>
    <h1>
      Procesos
      <small>Estados que los lotes atraviesan en el proceso de producción.</small>
    </h1>
<% end %>
<%= content_for :content_breadcrumb do %>
    <li><%= link_to "Procesos", estados_path %></li>
<% end %>
<%= content_for :title do %>
    Procesos
<% end %>

<%= render "actives" %>

<%= render "inactives" %>
