<div class="box box-primary with-border">
  <div class="box-header">
    <h3 class="box-title">Procesos adicionales</h3>
    <div class="box-tools pull-right">
      <% if can? :create, SubEstado %>
          <%= link_to new_sub_estado_path, :title => "Nuevo proceso" do %>
              <%= content_tag :i, "", :class => "fa fa-plus fa-2x" %>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="box-body">
    <table class="table table-striped table-bordered " id="sub_estados">
      <thead>
      <tr>
        <% if can? :manage, SubEstado %>
            <th></th>
        <% end %>
        <th title="Proceso adicional">Proceso adicional</th>
      </tr>
      </thead>

      <tbody>
      <% @sub_estados.each do |sub_estado| %>
          <tr>
            <% if can? :update, SubEstado %>
                <td class="text-center">
                  <%= link_to edit_sub_estado_path(sub_estado), :title => "Editar" do %>
                      <%= content_tag :i, "", :class => "fa fa-pencil" %>
                  <% end %>
                </td>
            <% end %>
            <td title="Proceso adicional"><%= sub_estado.sub_estado %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
