<li>
    <a href="/" title="Lotes" class="item"><i class="fa fa-fw fa-dashboard fa-fw"></i>&nbsp;&nbsp;Lotes</a>
</li>
<li id="programaciones" data-turbolinks-permanent>
    <%date_current = Time.new%>
	<%=link_to "#" do%>
		<%=content_tag :i, "", :class => "fa fa-list-ol fa-fw"%>
		Programaciones
        <%=content_tag :span, "", :class => "fa arrow"%>
	<%end%>
    <ul class="nav nav-second-level collapse">
        <li>
            <%=link_to "Confecab", programaciones_path(:month => date_current.strftime("%Y%m"), :empresa => "CAB")%>
        </li>
        <li>
            <%=link_to "Diseños", programaciones_path(:month => date_current.strftime("%Y%m"), :empresa => "D&C")%>
        </li>
    </ul>
</li>
<%if (can? :manage, ControlLote) || (can? :read, ControlLote)  %>
<li>
    <a href="/control_lotes" title="Historial" class="item"><i class="fa fa-history"></i>&nbsp;&nbsp;&nbsp;Historial</a>
</li>
<%end%>

<% if (can? :manage, Referencia) || (can? :read, Referencia) %>
<li>
    <a href="/tipos_prendas" title="Tablas" class="item"><i class="fa fa-table fa-fw"></i>&nbsp;Tablas</a>
</li>
<%end%>
<%if (can? :manage, User) || (can? :read, User)%>
<li>
    <%=link_to users_path, :title => "Usuarios", class: "item" do%>
        <%=content_tag :i, "", :class => "fa fa-users"%>
        &nbsp;Usuarios
    <%end%>
</li>
<%end%>
