<%# add navigation links_ul to this file %>
<%if user_signed_in?%>
<li title="<%=current_user.name%>"><%= link_to current_user.name, edit_user_registration_path%></li>
<%end%>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" 
        title="Cuenta de producción<br><%=current_user.name%>">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li><a href="/users/edit"><i class="fa fa-gear fa-fw"></i> Actualizar datos</a>
        </li>
        <li class="divider"></li>
        <li>
            <%=link_to destroy_user_session_path, :method=>'delete', :title => "Salir" do%>
                <%=content_tag :i, "", :class => "fa fa-sign-out"%>
                Salir
            <%end%>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>

