<%# add navigation links_ul to this file %>
<%if user_signed_in?%>
<%=nav_link current_user.name, edit_user_registration_path, { title: current_user.name},{class: "fa fa-user fa-fw"}%>
<%end%>
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" 
        title="Cuenta de producción&#10;<%=current_user.name%>">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/users/edit"><i class="fa fa-gear fa-fw"></i> Actualizar datos</a>
        </li>
        <li class="divider"></li>
        <li>
            <%=link_to destroy_user_session_path, :method=>'delete', :title => "Salir" do%>
                <%=content_tag :i, "", :class => "fa fa-sign-out"%>
                Salir
            <%end%>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>
<li>
    <%=link_to "#", data:{:toggle => "dropdown"}, :class => "dropdown-toggle", :title => "Base de datos" do%>
    <i class="fa fa-database fa-fw"></i>
    Bases de datos<i class="fa fa-caret-down fa-fw"></i>
    <%end%>
    <ul class="dropdown-menu">
        <li>
            <%=link_to clientes_path do%>
            <i class="fa fa-list-alt fa-fw"></i>
            Clientes
            <%end%>
        </li>
        <li>
            <%=link_to tipos_prendas_path do%>
            <i class="fa fa-tags fa-fw"></i>
            Descripción de prendas
            <%end%>
        </li>
        <li>
            <%=link_to sub_estados_path do%>
            <i class="fa fa-cubes fa-fw"></i>
            Procesos adicionales
            <%end%>
        </li>
    </ul>
</li>

