<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag(source='favicon_cab.ico') %>
  <%= Gon::Base.render_data %>
  <title><%= content_for?(:title) ? yield(:title) : "Produccion" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Produccion" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed ">
<div class="wrapper">
  <header class="main-header">
    <%= render 'layouts/main/main-header' %>
  </header>
  <aside class="main-sidebar">
    <%= render 'layouts/main/main-sidebar' %>
  </aside>
  <!--main-sidebar-->

  <div class="content-wrapper">
    <section class="content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </section>
  </div>
  <!--content-wrapper-->

  <footer class="main-footer">
    <%= render 'layouts/main/main-footer' %>
  </footer>
</div>
<!--page-wrapper-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<!--wrapper-->
</body>
</html>
