<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag(source='favicon_cab.ico') %>
  <%= Gon::Base.render_data %>
  <title><%= content_for?(:title) ? yield(:title) : "Produccion" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Produccion" %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> hold-transition skin-blue sidebar-mini fixed <%= cookies[:sidebar_position] %>">
<div class="wrapper">
  <header class="main-header">
    <%= render 'layouts/main/main-header' %>
  </header>
  <aside class="main-sidebar">
    <%= render 'layouts/main/main-sidebar' %>
  </aside>
  <!--main-sidebar-->

  <div class="content-wrapper">
    <section class="content-header">
      <%= content_for?(:content_header) ? yield(:content_header) : "<h1>Producción</h1>".html_safe %>
      <% if content_for?(:content_breadcrumb) %>
          <ol class="breadcrumb">
            <%= yield(:content_breadcrumb) %>
          </ol>
      <% else %>
        <ol class="breadcrumb">
          <li><%= link_to "Regresar", :back %></li>
        </ol>
      <% end %>
    </section>
    <section class="content">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </section>
  </div>
  <!--content-wrapper-->

  <footer class="main-footer">
    <%= render 'layouts/main/main-footer' %>
  </footer>
</div>
<!--page-wrapper-->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<!--wrapper-->
</body>
</html>
